trunk/AHTambonData/Geocode/geocode_point.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.w3.org/2003/01/geo/wgs84_pos#" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2003/01/geo/wgs84_pos#" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Point">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="lat" type="xs:decimal" />
        <xs:element name="long" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>