trunk/DataModel/Gazette.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#"
  xmlns:t="http://hoerstemeier.com/tambon/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://hoerstemeier.com/tambon/"
  attributeFormDefault="unqualified" elementFormDefault="qualified" >

  <xs:import namespace="http://www.w3.org/2003/01/geo/wgs84_pos#" schemaLocation="geopoint.xsd"/>
  <xs:include schemaLocation="basictypes.xsd"/>

  <xs:simpleType name="ParkType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NationalPark"/>
      <xs:enumeration value="ForestPark"/>
      <xs:enumeration value="HistoricalPark"/>
      <xs:enumeration value="WildlifeSanctuary"/>
      <xs:enumeration value="NonHuntingArea"/>
      <xs:enumeration value="HistoricalSite"/>
      <xs:enumeration value="NationalForest"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SignByFunction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PrimeMinister">
        <xs:annotation>
          <xs:documentation>Prime Minister (นายกรัฐมนตรี, Nayok Ratmontri).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DeputyPrimeMinister">
        <xs:annotation>
          <xs:documentation>Deputy Prime Minister (รองนายกรัฐมนตรี, Rong Nayok Ratmontri)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MinisterOfInterior">
        <xs:annotation>
          <xs:documentation>Minister of Interior (รัฐมนตรีว่าการกระทรวงมหาดไทย, Rattamontri Wa Kan Krasuang Mahatthai)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DeputyMinisterOfInterior">
        <xs:annotation>
          <xs:documentation>Deputy Ministry of Interior (รัฐมนตรีช่วยว่าการกระทรวงมหาดไทย, Rattamontri Chuai Wa Kan Krasuang Mahatthai).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MinistryOfInteriorPermanentSecretary">
        <xs:annotation>
          <xs:documentation>Permanent Secretary of the Ministry of Interior (ปลัดกระทรวงมหาดไทย, Palad Krasuang Mahatthai).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MinistryOfInteriorDeputyPermanentSecretary">
        <xs:annotation>
          <xs:documentation>Deputy Permanent Secretary of the Ministry of Interior (รองปลัดกระทรวงมหาดไทย, Rong Palad Krasuang Mahatthai). </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ProvinceGovernor">
        <xs:annotation>
          <xs:documentation>Province governor (ผู้ว่าราชการจังหวัด, Phu Wa Rachakan Changwat).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ViceProvinceGovernor">
        <xs:annotation>
          <xs:documentation>Vice province governor (รองผู้ว่าราชการจังหวัด, Rong Phu Wachakan Changwat).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BangkokGovernor">
        <xs:annotation>
          <xs:documentation>Governor of Bangkok (ผู้ว่าราชการกรุงเทพมหานคร, Phu Wa Rachakan Krung Thep Maha Nakhon).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BangkokPermanentSecretary">
        <xs:annotation>
          <xs:documentation>Permanent Secretary of Bangkok (ปลัดกรุงเทพ, Palad Krung Thep).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DeputyBangkokPermanentSecretary">
        <xs:annotation>
          <xs:documentation>Deputy Permanent Secretary of Bangkok (รองปลัดกรุงเทพ, Rong Palad Krung Thep).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MinisterOfInformationAndCommunicationTechnology">
        <xs:annotation>
          <xs:documentation>Minister of Information and Communication Technology (รัฐมนตรีว่าการกระทรวงเทคโนโลยีสารสนเทศและการสื่อสาร).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ElectionCommissionPresident">
        <xs:annotation>
          <xs:documentation>President of the Election Commission (ประธานกรรมการการเลือกตั้ง, Prathan Kammakan Kan Lueang Tang)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RoyalInstitutePresident">
        <xs:annotation>
          <xs:documentation>President of the Royal Institute (นายกราชบัณฑิตยสถาน)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RoyalInstituteActingPresident">
        <xs:annotation>
          <xs:documentation>Acting President of the Royal Institute (รักษาการตำแหน่งนายกราชบัณฑิตยสถาน)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DepartmentOfTransportDirectorGeneral">
        <xs:annotation>
          <xs:documentation>Director General of the Department of Transport (อธิบดีกรมการขนส่งทางบก).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DistrictOfficerBangkok">
        <xs:annotation>
          <xs:documentation>District officer in Bangkok (ผู้อำนวยการเขต, Phu Amnuai Kan Khet).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DistrictOfficer">
        <xs:annotation>
          <xs:documentation>District (head) officer (นายอำเภอ, Nai Amphoe).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SpeakerOfParliament">
        <xs:annotation>
          <xs:documentation>Speaker of the House of Representatives (ประธานสภาผู้แทนราษฎร, Prathan Sapha Phu Thaen Ratsadon</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Mayor">
        <xs:annotation>
          <xs:documentation>Mayor (นายกเทศมนตรี, Nayok Thesamontri), leader of Thesaban.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TAOMayor">
        <xs:annotation>
          <xs:documentation>Mayor of TAO (นายกองค์การบริหารส่วนตำบล, Nayok Ongganborihansuan Tambon), directly elected.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TAOChairman">
        <xs:annotation>
          <xs:documentation>Chairman of TAO (ประธานกรรมการบริหารองค์การบริหารส่วนตำบล, Prathan Kromganborihansuan Tambon), chosen by council.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PAOChairman">
        <xs:annotation>
          <xs:documentation>PAO chairman (นายกองค์การบริหารส่วนจังหวัด, Nayok Ongganborihansuan Changwat), directly elected.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MunicipalPermanentSecretary">
        <xs:annotation>
          <xs:documentation>Permanent Secretary of Municipality (ปลัดเทศบาล, Palad Thesaban).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FineArtsDepartmentDirectorGeneral">
        <xs:annotation>
          <xs:documentation>Director General of the Fine Arts Department (อธิบดีกรมศิลปากร).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name='GazetteReference'>
    <xs:group ref="t:EntryAction" maxOccurs="unbounded" minOccurs="0"/>

    <xs:attribute name="volume" type="xs:unsignedInt" use="required"/>
    <xs:attribute name="page" type="xs:unsignedInt" use="required"/>
    <xs:attribute name="issue" type="xs:string" use="required"/>
    <xs:attribute name="date" type="xs:date" use="optional"/>
    <xs:attribute name="comment" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:complexType name="GazetteOperation">
    <xs:group ref="t:EntryAction" maxOccurs="unbounded" minOccurs="0"/>

    <xs:attribute name="geocode" type="xs:unsignedInt" use="optional" />
    <xs:attribute name="name" type="xs:string" use="optional" />
    <xs:attribute name="english" type="xs:string" use="optional" />
    <xs:attribute name="type" type="t:EntityType" use="optional" />
    <xs:attribute name="owner" type="xs:unsignedInt" use="optional" />
    <xs:attribute name="ownername" type="xs:string" use="optional" />

    <xs:attribute name="index" type="xs:unsignedInt" use="optional" />
    <xs:attribute name="comment" type="xs:string" use="optional" />

    <xs:attribute name="tambon" type="xs:unsignedInt" use="optional" />
    <!--Tambon for TAO-->
    <xs:attribute name="parent" type="xs:unsignedInt" use="optional" />
    <xs:attribute name="parentname" type="xs:string" use="optional" />
    <!--Parent for King Amphoe-->
  </xs:complexType>
  <xs:complexType name="GazettePark">
    <xs:sequence>
      <xs:element minOccurs="0" ref="geo:Point" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="optional" />
    <xs:attribute name="english" type="xs:string" use="optional" />
    <xs:attribute name="type" type="t:ParkType" use="required" />
    <xs:attribute name="area" type="xs:double" use="optional" />
    <xs:attribute name="arearai" type="xs:double" use="optional" />
    <xs:attribute name="locationgeocode" type="xs:unsignedInt" use="optional"/>
    <!--or maybe better a Thai address child element? -->
    <xs:attribute name="id" type="xs:unsignedInt" use="optional"/>
    <xs:attribute name="index" type="xs:unsignedInt" use="optional" />
    <xs:attribute name="comment" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:complexType name='GazetteReassign'>
    <xs:complexContent>
      <xs:extension base="t:GazetteOperation">
        <xs:attribute name="oldgeocode" type="xs:unsignedInt" use="optional" />
        <xs:attribute name="newowner" type="xs:unsignedInt" use="optional" />
        <xs:attribute name="newownername" type="xs:string" use="optional" />
        <xs:attribute name="newownerenglish" type="xs:string" use="optional" />
        <xs:attribute name="muban" type="xs:unsignedInt" use="optional" />
        <!-- in case the old owner had no geocode -->
        <xs:attribute name="oldowner" type="xs:unsignedInt" use="optional" />
        <xs:attribute name="oldownername" type="xs:string" use="optional" />
        <xs:attribute name="oldmuban" type="xs:unsignedInt" use="optional" />
        <xs:attribute name="oldparent" type="xs:unsignedInt" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='GazetteRenumber'>
    <xs:complexContent>
      <xs:extension base="t:GazetteOperation">
        <xs:attribute name="oldgeocode" type="xs:unsignedInt" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='GazetteAreaChange'>
    <xs:complexContent>
      <xs:extension base="t:GazetteOperation">
        <xs:attribute name="oldarea" type="xs:float" use="optional" />
        <xs:attribute name="newarea" type="xs:float" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='GazetteStatusChange'>
    <xs:complexContent>
      <xs:extension base="t:GazetteOperation">
        <xs:attribute name="old" type="t:EntityType" use="required" />
        <xs:attribute name="new" type="t:EntityType" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='GazetteRename'>
    <xs:complexContent>
      <xs:extension base="t:GazetteOperation">
        <xs:attribute name="oldname" type="xs:string" use="required" />
        <xs:attribute name="oldenglish" type="xs:string" use="optional" />
        <xs:attribute name="name" type="xs:string" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='GazetteAbolish'>
    <xs:complexContent>
      <xs:extension base="t:GazetteOperation">
        <xs:attribute name="ownerenglish" type="xs:string" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='GazetteCreate'>
    <xs:complexContent>
      <xs:extension base="t:GazetteOperation">
        <xs:attribute name="oldowner" type="xs:unsignedInt" use="optional" />
        <xs:attribute name="type" type="t:EntityType" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GazetteInterpellation">
    <xs:group ref="t:EntryAction" maxOccurs="unbounded" minOccurs="0"/>

    <xs:attribute name="author" type="xs:string" use="optional" />
    <xs:attribute name="number" type="xs:integer" use="optional" />
  </xs:complexType>
  <xs:complexType name='GazetteCapital'>
    <xs:complexContent>
      <xs:extension base="t:GazetteOperation">
        <xs:attribute name="capitalname" type="xs:string" use="required" />
        <xs:attribute name="capitalenglish" type="xs:string" use="optional" />
        <xs:attribute name="capitaltype" type="t:EntityType" use="optional" />
        <xs:attribute name="capitalgeocode" type="xs:unsignedInt" use="optional" />
        <xs:attribute name="oldcapitalname" type="xs:string" use="optional" />
        <xs:attribute name="oldcapitalenglish" type="xs:string" use="optional" />
        <xs:attribute name="oldcapitalgeocode" type="xs:unsignedInt" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GazetteOfficial">
    <xs:complexContent>
      <xs:extension base="t:GazetteOperation">
        <xs:attribute name="officialname" type="xs:string" use="required" />
        <xs:attribute name="officialtype" type="t:OfficialType" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:group name="EntryAction">
    <xs:choice>
      <xs:element name="reassign" type="t:GazetteReassign"/>
      <xs:element name="status" type="t:GazetteStatusChange"/>
      <xs:element name="rename" type="t:GazetteRename"/>
      <xs:element name="abolish" type="t:GazetteAbolish"/>
      <xs:element name="areachange" type="t:GazetteAreaChange"/>
      <xs:element name="create" type="t:GazetteCreate"/>
      <xs:element name="mention" type="t:GazetteOperation"/>
      <xs:element name="constituency" type="t:GazetteOperation"/>
      <xs:element name="capital" type="t:GazetteCapital"/>
      <xs:element name="official" type="t:GazetteOfficial"/>
      <xs:element name="correction" type="t:GazetteReference"/>
      <xs:element name="renumber" type="t:GazetteRenumber"/>
      <xs:element name="related" type="t:GazetteReference"/>
      
      <xs:element name="createpark" type="t:GazettePark"/>
      <xs:element name="abolishpark" type="t:GazettePark"/>
      <!--      <xs:element name="renamepark" type="GazettePark"/> -->
      <xs:element name="areachangepark" type="t:GazettePark"/>
      <xs:element name="interpellation" type="t:GazetteInterpellation"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name='GazetteEntry'>
    <xs:group ref="t:EntryAction" maxOccurs="unbounded" minOccurs="0"/>
    <xs:attribute name="description" type="xs:string" use="optional" />
    <xs:attribute name="title" type="xs:string" use="required" />
    <xs:attribute name="volume" type="xs:unsignedByte" use="required" />
    <xs:attribute name="page" type="xs:string" use="required" />
    <xs:attribute name="issue" type="xs:string" use="required" />
    <xs:attribute name="uri" type="xs:string" use="required" />
    <xs:attribute name="publication" type="xs:date" use="required" />
    <xs:attribute name="effectiveafter" type="xs:unsignedByte" use="optional" />
    <xs:attribute name="sign" type="xs:date" use="optional" />
    <xs:attribute name="effective" type="xs:date" use="optional" />
    <xs:attribute name="subtitle" type="xs:string" use="optional" />
    <xs:attribute name="signedby" type="xs:string" use="optional" />
    <xs:attribute name="signedbyfunction" type="t:SignByFunction" use="optional" />
    <xs:attribute name="countersignedby" type="xs:string" use="optional" />
    <xs:attribute name="countersignedbyfunction" type="t:SignByFunction" use="optional" />
  </xs:complexType>
  <xs:complexType name='GazetteEntryContainer'>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="entry" type="t:GazetteEntry"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="year" type="t:GazetteEntryContainer"/>
    </xs:sequence>
    <xs:attribute name="value" type="xs:string" use="required" />
  </xs:complexType>

  <xs:element name="gazette">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="decade" type="t:GazetteEntryContainer"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="year" type="t:GazetteEntryContainer"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="entry" type="t:GazetteEntry"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>