trunk/DataModel/geocode.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#"
  xmlns:t="http://hoerstemeier.com/tambon/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://hoerstemeier.com/tambon/"
  attributeFormDefault="unqualified" elementFormDefault="qualified">

  <xs:import namespace="http://www.w3.org/2003/01/geo/wgs84_pos#" schemaLocation="geopoint.xsd" />
  <xs:include schemaLocation="office.xsd" />
  <xs:include schemaLocation="basictypes.xsd" />
  <xs:include schemaLocation="populationdata.xsd" />
  <xs:include schemaLocation="gazette.xsd" />

  <xs:simpleType name="AreaUnit">
    <xs:restriction base="xs:string">
      <xs:enumeration value="km²" />
      <xs:enumeration value="rai" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AreaData">
    <xs:annotation>
      <xs:documentation>Area covered by the entity.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reference" type="t:ReferenceList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Source(s) for the area value.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="value" type="xs:decimal" use="required">
      <xs:annotation>
        <xs:documentation>Area value.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="unit" type="t:AreaUnit" use="required">
      <xs:annotation>
        <xs:documentation>Unit in which value is given.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="date" type="xs:gYear" use="optional">
      <xs:annotation>
        <xs:documentation>Year in which the data was valid.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="t:Comment" />
  </xs:complexType>
  <xs:complexType name="Area">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="data" type="t:AreaData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HistoryEntryBase" abstract="1">
    <xs:complexContent>
      <xs:extension base="t:ReferenceList">
        <xs:attribute name="effective" type="xs:date" use="optional">
          <xs:annotation>
            <xs:documentation>Date the change became officially effective.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="status" type="t:ChangeStatus" use="optional" default="Done">
          <xs:annotation>
            <xs:documentation>State of the change.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attributeGroup ref="t:Comment" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HistoryStatus">
    <xs:complexContent>
      <xs:extension base="t:HistoryEntryBase">
        <xs:attribute name="old" type="t:EntityType" use="required">
          <xs:annotation>
            <xs:documentation>Original type of the entity.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="new" type="t:EntityType" use="required">
          <xs:annotation>
            <xs:documentation>Type of the entity after the change.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HistoryRename">
    <xs:complexContent>
      <xs:extension base="t:HistoryEntryBase">
        <xs:attributeGroup ref="t:ThaiNameMandatory" />
        <xs:attribute name="oldname" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>Previous name in Thai script..</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="oldenglish" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>Romanization of old name.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HistorySpellingBase" abstract="1">
    <xs:complexContent>
      <xs:extension base="t:HistoryEntryBase">
        <xs:attribute name="name" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>Name or spelling of name a given time.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HistorySpelling">
    <xs:complexContent>
      <xs:extension base="t:HistorySpellingBase" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HistoryReformSpelling">
    <xs:annotation>
      <xs:documentation>Alternative spelling during the Thai spelling reform 1942-1945.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:HistorySpellingBase" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HistoryAlternativeName">
    <xs:annotation>
      <xs:documentation>Alternative name or spelling, which is more than a plain misspelling.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:HistorySpellingBase">
        <xs:attribute name="english" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>Romanization of name.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="year" type="xs:gYear" use="optional">
          <xs:annotation>
            <xs:documentation>Year in which the alternative name was apparently used.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="GeocodeList">
    <xs:annotation>
      <xs:documentation>List of geocodes.</xs:documentation>
    </xs:annotation>
    <xs:list itemType="xs:unsignedInt"></xs:list>
  </xs:simpleType>
  <xs:complexType name="HistoryCreate">
    <xs:annotation>
      <xs:documentation>Entity was created.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:HistoryEntryBase">
        <xs:attribute name="type" type="t:EntityType" use="required">
          <xs:annotation>
            <xs:documentation>Type of the entity.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="splitfrom" type="t:GeocodeList" use="optional">
          <xs:annotation>
            <xs:documentation>Geocode(s) of the entities from which the new entity was split off.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HistoryAreaChange">
    <xs:annotation>
      <xs:documentation>Area covered by the entity was changed.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:HistoryEntryBase">
        <xs:attribute name="type" type="t:EntityType" use="optional">
          <xs:annotation>
            <xs:documentation>Type of the entity.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="oldarea" type="xs:double" use="optional">
          <xs:annotation>
            <xs:documentation>Area before the change in km².</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="newarea" type="xs:double" use="optional">
          <xs:annotation>
            <xs:documentation>Area after the change in km².</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HistoryAbolish">
    <xs:annotation>
      <xs:documentation>Entity was dissolved.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:HistoryEntryBase">
        <xs:attribute name="type" type="t:EntityType" use="required">
          <xs:annotation>
            <xs:documentation>Type of the entity.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="mergeto" type="xs:unsignedInt" use="optional">
          <xs:annotation>
            <xs:documentation>Geocode of the entity which took over the area.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HistoryMergedWith">
    <xs:annotation>
      <xs:documentation>Entity was enlarged by taking over responsibility from dissolved entities.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:HistoryAreaChange">
        <xs:attribute name="mergefromtype" type="t:EntityType" use="required">
          <xs:annotation>
            <xs:documentation>Type of the entity merged with.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="mergefrom" type="xs:unsignedInt" use="optional">
          <xs:annotation>
            <xs:documentation>Geocode of the entity which was added to the area.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:group name="HistoryEntry">
    <xs:annotation>
      <xs:documentation>Entry in the list of historical changes.</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="rename" type="t:HistoryRename" />
      <xs:element name="statuschange" type="t:HistoryStatus" />
      <xs:element name="create" type="t:HistoryCreate" />
      <xs:element name="abolished" type="t:HistoryAbolish" />
      <xs:element name="misspelling" type="t:HistorySpelling" />
      <xs:element name="reformedspelling" type="t:HistoryReformSpelling" />
      <xs:element name="alternativename" type="t:HistoryAlternativeName" />
      <xs:element name="mergedwith" type="t:HistoryMergedWith" />
      <xs:element name="areachange" type="t:HistoryAreaChange" />
    </xs:choice>
  </xs:group>
  <xs:complexType name="HistoryList">
    <xs:annotation>
      <xs:documentation>List of historical changes.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group ref='t:HistoryEntry' minOccurs='1' maxOccurs='unbounded' />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EntityCountType">
    <xs:attribute name="type" type="t:EntityType" use="required" />
    <xs:attribute name="count" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Number of entities of the given type.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="EntityCount">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element minOccurs="1" maxOccurs="unbounded" name="entry" type="t:EntityCountType" />
      <xs:element name="reference" type="t:ReferenceList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Sources for the numbers.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="year" type="xs:gYear" use="required">
      <xs:annotation>
        <xs:documentation>Reference year.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="IdentifierValueBase" abstract="1">
    <xs:annotation>
      <xs:documentation>Base type containing an identifier.</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="t:Comment" />
    <xs:attribute name="value" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Value for the identifier.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="introducedwith" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Name of the publication which the code was introduced, e.g. update number.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="IdentifierOldValue">
    <xs:annotation>
      <xs:documentation>Retired value of an identifier.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:IdentifierValueBase">
        <xs:attribute name="retired" type="xs:date" use="optional">
          <xs:annotation>
            <xs:documentation>Date of when the new code was issued and thus this code was retired.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="retiredwith" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>Name of the publication which retired the code, e.g. update number.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Identifier">
    <xs:annotation>
      <xs:documentation>Identifier with eventual obsolete old values.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:IdentifierValueBase">
        <xs:sequence>
          <xs:element name="oldvalue" type="t:IdentifierOldValue" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Former values of the identifier with information on when and how it was retired.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="PostalCodeList">
    <xs:list itemType="xs:unsignedInt"></xs:list>
  </xs:simpleType>
  <xs:complexType name="PostalCodeBase">
    <xs:annotation>
      <xs:documentation>Postal code(s).</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="t:Comment" />
    <xs:attribute name="value" type="t:PostalCodeList" use="required">
      <xs:annotation>
        <xs:documentation>List of postal codes.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PostalCodeOldValue">
    <xs:annotation>
      <xs:documentation>Retired value of an identifier.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:PostalCodeBase">
        <xs:attribute name="retired" type="xs:date" use="optional">
          <xs:annotation>
            <xs:documentation>Date of when the new code was issued and thus this code was retired.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PostalCode">
    <xs:annotation>
      <xs:documentation>Postal code(s).</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:PostalCodeBase">
        <xs:sequence>
          <xs:element name="oldvalue" type="t:PostalCodeOldValue" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Former postcodes with information on when and how they were retired.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OtherIdentifier">
    <xs:annotation>
      <xs:documentation>Unique identifiers additional to the geocode and the wiki ids.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="post" type="t:PostalCode" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Postal code(s).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasc" type="t:Identifier" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Hierarchical administrative subdivision code (HASC), defined by Gwillim Law in his book and at http://statoids.com.
            Format is TH.XX for provinces and TH.XX.YY for districts.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="iso3166" type="t:Identifier" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            ISO 3166-2 code, only applicable for provinces, and the municipality of Pattaya. Format is TH-##.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fips10" type="t:Identifier" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            FIPS 10 codes. Format is TH##.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="salb" type="t:Identifier" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Second Administrative Level Boundaries. Format is THA### for provinces and THA###### for districts.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="gnd" type="t:Identifier" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Integrated Authority File (from German: Gemeinsame Normdatei). Url in catalog for GND 123 is http://d-nb.info/gnd/123
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Entity">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element minOccurs="0" maxOccurs="1" name="wiki" type="t:WikiLocation">
        <xs:annotation>
          <xs:documentation>Links to wiki pages.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="codes" type="t:OtherIdentifier">
        <xs:annotation>
          <xs:documentation>Unique identifiers, other geocode systems or catalogue ids.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="symbols" type="t:Symbols">
        <xs:annotation>
          <xs:documentation>Symbols, slogans and vision statements of the entity.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="office" type="t:Office" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="area" type="t:Area" />
      <xs:element minOccurs="0" maxOccurs="1" name="history" type="t:HistoryList" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="population" type="t:PopulationData" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="entity" type="t:Entity">
        <xs:unique name="UniqueGeocode">
          <xs:annotation>
            <xs:documentation>Making sure that every geocode is only used once.</xs:documentation>
          </xs:annotation>
          <xs:selector xpath="t:entity" />
          <xs:field xpath="@geocode" />
        </xs:unique>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="entitycount" type="t:EntityCount" />
    </xs:sequence>
    <xs:attribute name="type" type="t:EntityType" use="required" />
    <xs:attributeGroup ref="t:ThaiNameMandatory" />
    <xs:attribute name="geocode" type="xs:unsignedInt" use="required" />
    <!--have to find better way for this-->
    <xs:attribute name="newgeocode" type="t:GeocodeList" use="optional" />
    <xs:attribute name="obsolete" type="xs:boolean" use="optional" />
    <xs:attribute name="parent" type="t:GeocodeList" use="optional">
      <xs:annotation>
        <xs:documentation>For KingAmphoe: The Amphoe which is responsible for supervision; for Thesaban: the Amphoe(s) which are covered by the entity.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="t:Comment" />
    <!-- for Thesaban covering a complete Tambon-->
    <xs:attribute name="tambon" type="xs:unsignedInt" use="optional" />
    <!-- for Chumchon corresponding to a specific Muban-->
    <xs:attribute name="muban" type="xs:unsignedInt" use="optional" />
  </xs:complexType>

  <xs:element name="entity" type="t:Entity">
  </xs:element>
</xs:schema>