trunk/DataModel/office.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#"
  xmlns:t="http://hoerstemeier.com/tambon/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://hoerstemeier.com/tambon/"
  attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/2003/01/geo/wgs84_pos#" schemaLocation="geopoint.xsd" />

  <xs:include schemaLocation="basictypes.xsd" />
  <xs:include schemaLocation="constituencies.xsd" />
  <xs:include schemaLocation="geocode.xsd" />

  <xs:simpleType name="SymbolColor">
    <xs:annotation>
      <xs:documentation>Symbol colors.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="orange">
        <xs:annotation>
          <xs:documentation>Orange (สีส้ม).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="yellow">
        <xs:annotation>
          <xs:documentation>Yellow (สีเหลือง).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="red">
        <xs:annotation>
          <xs:documentation>Yellow (สีแดง).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="green">
        <xs:annotation>
          <xs:documentation>Green (สีเขียว).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="violet">
        <xs:annotation>
          <xs:documentation>Green (สีม่วง).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="pink">
        <xs:annotation>
          <xs:documentation>Pink/rose (สีชมพู).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lightblue">
        <xs:annotation>
          <xs:documentation>Light blue/sky blue (สีฟ้า).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="darkblue">
        <xs:annotation>
          <xs:documentation>Dark blue/navy blue (สีน้ำเงิน).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="magenta">
        <xs:annotation>
          <xs:documentation>Magenta (สีเลือดหมู).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="OfficeType">
    <xs:annotation>
      <xs:documentation>Office types for the administrative entities.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="ProvinceHall">
        <xs:annotation>
          <xs:documentation>Province hall (ศาลากลางจังหวัด , Sala Klang Changwat)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PAOOffice">
        <xs:annotation>
          <xs:documentation>PAO office (สำนักงานองค์การบริหารส่วนจังหวัด).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DistrictOffice">
        <xs:annotation>
          <xs:documentation>District office (ที่ว่าการอำเภอ, Thi Wa Kan Amphoe; สำนักงานเขต Sam Nak Ngan Khet).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MunicipalityOffice">
        <xs:annotation>
          <xs:documentation>Municipality office (สำนักงานเทศบาล, Sam Nak Ngan Thesaban).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TAOOffice">
        <xs:annotation>
          <xs:documentation>TAO office (สำนักงานองค์การบริหารส่วนตำบล or ที่ว่าการองค์การบริหารส่วนตำบล).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VillageHeadmanOffice">
        <xs:annotation>
          <xs:documentation>Office of village headman.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ChumchonOffice">
        <xs:annotation>
          <xs:documentation>Office of community leader (ที่ทำการชุมชน).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SubdistrictHeadmanOffice">
        <xs:annotation>
          <xs:documentation>Office of subdistrict headman.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MonthonOffice">
        <xs:annotation>
          <xs:documentation>Office of the Monthon commissioner.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ViceRoyalOffice">
        <xs:annotation>
          <xs:documentation>Office of the Vice Royal.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RegionOffice">
        <xs:annotation>
          <xs:documentation>Office of the Region.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TermEndType">
    <xs:annotation>
      <xs:documentation>Reasons why a council has ended its term.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="EndOfTerm">
        <xs:annotation>
          <xs:documentation>Normal end of term (ครบวาระ).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="StatusChange">
        <xs:annotation>
          <xs:documentation>Status of entity was changed, which required a new council.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DissolutionOrdered">
        <xs:annotation>
          <xs:documentation>Dissolution after order from higher authorities (ยุบสภา).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SelfDissolution">
        <xs:annotation>
          <xs:documentation>Council voted for a self-dissolution.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Unknown">
        <xs:annotation>
          <xs:documentation>No specified reason.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OfficialEndType">
    <xs:annotation>
      <xs:documentation>Reasons why an official left office.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="EndOfTerm">
        <xs:annotation>
          <xs:documentation>End of term (ครบวาระ).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Transfer">
        <xs:annotation>
          <xs:documentation>Transferred to another office.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Retired">
        <xs:annotation>
          <xs:documentation>Reaching retirement age (เกษียณอายุราชการ).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Resigned">
        <xs:annotation>
          <xs:documentation>Resigned from office (ลาออก).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Death">
        <xs:annotation>
          <xs:documentation>Died while being office holder.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Removed">
        <xs:annotation>
          <xs:documentation>Removed from post by higher authorities (สั่งให้พ้น, พ้นจากตำแหน่ง).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="StatusChange">
        <xs:annotation>
          <xs:documentation>Term shortened to allow change of status of entity, e.g. a municipality status upgrade.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Unknown">
        <xs:annotation>
          <xs:documentation>No specified reason.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OfficialBeginType">
    <xs:annotation>
      <xs:documentation>Ways how an official can enter the office.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Elected">
        <xs:annotation>
          <xs:documentation>Elected, not further specified if directly or indirectly.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ElectedDirectly">
        <xs:annotation>
          <xs:documentation>Elected directly by the population.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ElectedByCouncil">
        <xs:annotation>
          <xs:documentation>Elected from council.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ExOfficio">
        <xs:annotation>
          <xs:documentation>Having position because of another official position held by the person.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Appointed">
        <xs:annotation>
          <xs:documentation>Appointed by a superior administrative unit.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Unknown">
        <xs:annotation>
          <xs:documentation>No specified reason.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SocialWebStatus">
    <xs:annotation>
      <xs:documentation>Status of a social web account.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:documentation>Current status not known.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="active">
        <xs:annotation>
          <xs:documentation>Currently in use.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="inactive">
        <xs:annotation>
          <xs:documentation>Not used for a long time, at least one year in no activity.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="offline">
        <xs:annotation>
          <xs:documentation>Account no longer accessible.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SocialWebLink">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="status" type="t:SocialWebStatus" use="optional" default="unknown">
          <xs:annotation>
            <xs:documentation>Status of the social web account.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="comment" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>Additional comment.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="GooglePlusPageType">
    <xs:annotation>
      <xs:documentation>Ways how an official can enter the office.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="user">
        <xs:annotation>
          <xs:documentation>User page, mostly used though not the correct type of page for a non-person.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="page">
        <xs:annotation>
          <xs:documentation>Institution page.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="location">
        <xs:annotation>
          <xs:documentation>Google plus local page.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="GooglePlusLink">
    <xs:simpleContent>
      <xs:extension base="t:SocialWebLink">
        <xs:attribute name="type" type="t:GooglePlusPageType" use="optional" default="user">
          <xs:annotation>
            <xs:documentation>Type of Google Plus page.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SocialWebLinks">
    <xs:annotation>
      <xs:documentation>List of the social web sites where the entity is present.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="facebook" type="xs:anyURI" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>URL of the user account or page in facebook.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="twitter" type="t:SocialWebLink" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Twitter user name.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="googleplus" type="t:GooglePlusLink" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Numerical code of the user or page.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="blog" type="t:MyUri" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Blog URL.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="forum" type="t:MyUri" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Forum URL.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OfficialEntry">
    <xs:sequence>
      <xs:element name="vision" minOccurs="0" maxOccurs="1" type="t:VisionSlogan">
        <xs:annotation>
          <xs:documentation>Vision statement of official for his term.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="election" minOccurs="0" maxOccurs="1" type="t:Election">
        <xs:annotation>
          <xs:documentation>Data on the election which got the official into his office.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="title" type="t:OfficialType" use="required">
      <xs:annotation>
        <xs:documentation>Type of official.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="index" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>Running number, if known.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="t:ThaiNameMandatory" />
    <xs:attribute name="begin" type="xs:date" use="optional">
      <xs:annotation>
        <xs:documentation>Begin of term.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="endyear" type="xs:gYear" use="optional">
      <xs:annotation>
        <xs:documentation>End of term.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="beginyear" type="xs:gYear" use="optional">
      <xs:annotation>
        <xs:documentation>Begin of term.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="end" type="xs:date" use="optional">
      <xs:annotation>
        <xs:documentation>End of term.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="acting" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Acting or fully installed office leader.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="inoffice" type="xs:gYear" use="optional">
      <xs:annotation>
        <xs:documentation>Year official was in office, used if being/end of term is not known.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="comment" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Comments for information not covered in the formal fields.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="beginreason" type="t:OfficialBeginType" use="optional" default="Unknown">
      <xs:annotation>
        <xs:documentation>Reason why left office.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="endreason" type="t:OfficialEndType" use="optional" default="Unknown">
      <xs:annotation>
        <xs:documentation>Reason why left office.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="muban" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>Only for subdistrict headman (Kamnan), Muban number where he/she is also village headman.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name='OfficialList'>
    <xs:annotation>
      <xs:documentation>List of leaders of the administrative entity.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="official" minOccurs="0" maxOccurs="unbounded" type="t:OfficialEntry" />
      <xs:element name="reference" minOccurs="0" maxOccurs="1" type="t:ReferenceList">
        <xs:annotation>
          <xs:documentation>References for the official list.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name='CouncilTerm'>
    <xs:annotation>
      <xs:documentation>Term of the council of the administrative entity.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="official" minOccurs="0" maxOccurs="unbounded" type="t:OfficialEntry" />
      <xs:element name="election" minOccurs="0" maxOccurs="1" type="t:Election" />
    </xs:sequence>
    <xs:attribute name="begin" type="xs:date" use="required">
      <xs:annotation>
        <xs:documentation>Begin of term.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="end" type="xs:date" use="optional">
      <xs:annotation>
        <xs:documentation>End of term.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="comment" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Comments for information not covered in the formal fields.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="size" type="xs:positiveInteger" use="optional">
      <xs:annotation>
        <xs:documentation>Number of councillors.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" type="t:EntityType" use="required">
      <xs:annotation>
        <xs:documentation>Type of the entity during the term of the council.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="endreason" type="t:TermEndType" use="optional" default="EndOfTerm">
      <xs:annotation>
        <xs:documentation>Reason for the end of the term.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name='CouncilList'>
    <xs:annotation>
      <xs:documentation>List of council terms of the administrative entity.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="term" minOccurs="0" maxOccurs="unbounded" type="t:CouncilTerm" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VisionSlogan">
    <xs:annotation>
      <xs:documentation>Text with temporal information.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="beginyear" use="optional" type="xs:gYear">
          <xs:annotation>
            <xs:documentation>Year of announcing.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="inuse" use="optional" type="xs:gYear">
          <xs:annotation>
            <xs:documentation>Year in which it was in use.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="comment" use="optional" type="xs:string">
          <xs:annotation>
            <xs:documentation>Additional comments like the type.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Emblem">
    <xs:annotation>
      <xs:documentation>Emblem (ตรา) of the entity.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string">
        <xs:annotation>
          <xs:documentation>Description of the emblem (in Thai).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="reference" minOccurs="0" maxOccurs="1" type="t:ReferenceList">
        <xs:annotation>
          <xs:documentation>References on the emblem.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="date" use="optional" type="xs:dateTime">
      <xs:annotation>
        <xs:documentation>Date of official adoption of the emblem.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Symbols">
    <xs:annotation>
      <xs:documentation>Symbols of an entity.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" type='t:Emblem' name='emblem'>
        <xs:annotation>
          <xs:documentation>Emblem (ตรา) of the entity.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" type='t:VisionSlogan' name='slogan'>
        <xs:annotation>
          <xs:documentation>Slogan (คำขวัญ) of the entity.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" type='t:VisionSlogan' name='vision'>
        <xs:annotation>
          <xs:documentation>Vision statement (วิสัยทัศน์) of the entity.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="symboltree" type="xs:string">
        <xs:annotation>
          <xs:documentation>Botanical name of the symbol tree (ต้นไม้ประจำจังหวัด).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="symbolflower" type="xs:string">
        <xs:annotation>
          <xs:documentation>Botanical name of the symbol flower (ดอกไม้ประจำจังหวัด).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="color" type="t:SymbolColor">
        <xs:annotation>
          <xs:documentation>Symbol color of the entity.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ThaiAddressVillage">
    <xs:annotation>
      <xs:documentation>Village (Muban) part of address.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="name" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Name of the village.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="number" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Number of the village.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ThaiAddressTambon">
    <xs:annotation>
      <xs:documentation>Subdistrict (Tambon/Khet) part of address.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Name of subdistrict.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="geocode" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Geocode of district.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ThaiAddress">
    <xs:annotation>
      <xs:documentation>Address in Thailand</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="village" minOccurs="0" type="t:ThaiAddressVillage">
        <xs:annotation>
          <xs:documentation>Village part of address.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="plot" minOccurs="0" type="xs:string">
        <xs:annotation>
          <xs:documentation>Plot number/identifier.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tambon" minOccurs="0" type="t:ThaiAddressTambon">
        <xs:annotation>
          <xs:documentation>Subdistrict part of address.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="street" minOccurs="0" type="xs:string">
        <xs:annotation>
          <xs:documentation>Street name and number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="postcode" minOccurs="0" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation>Postal code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OldLocation">
    <xs:annotation>
      <xs:documentation>List of former locations of the office.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" ref="geo:Point" />
      <xs:element minOccurs="0" name="address" type="t:ThaiAddress" />
    </xs:sequence>
    <xs:attribute name="end" type="xs:date" use="optional">
      <xs:annotation>
        <xs:documentation>Date the office was closed at that location.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="comment" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:complexType name='Office'>
    <xs:annotation>
      <xs:documentation>Administrative office(s) for the administrative subdivision.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" type='t:Symbols' name='symbols'>
        <xs:annotation>
          <xs:documentation>Symbols, slogan and vision statements of the office.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" ref="geo:Point">
        <xs:annotation>
          <xs:documentation>Location of office, pointing approximately at the main entrance.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="address" type="t:ThaiAddress">
        <xs:annotation>
          <xs:documentation>Postal address of the office.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="url" type="t:MyUri">
        <xs:annotation>
          <xs:documentation>Website of the office, including former websites with the appropriate status.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="socialweb" type="t:SocialWebLinks">
        <xs:annotation>
          <xs:documentation>Links to the social web sites maintained by the office.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="officials" type="t:OfficialList">
        <xs:annotation>
          <xs:documentation>List of office leaders.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="council" type="t:CouncilList">
        <xs:annotation>
          <xs:documentation>List of council terms.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="oldlocations" type="t:OldLocation">
        <xs:annotation>
          <xs:documentation>List of former office locations.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="history" type="t:HistoryList">
        <xs:annotation>
          <xs:documentation>Administrative changes concerning the office.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="type" type="t:OfficeType" use="required">
      <xs:annotation>
        <xs:documentation>Office type of the administrative entity.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="obsolete" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Office of an administrative entity no longer existing.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="comment" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Comment for information not fitting in any of the formal fields.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>