DataModel/basictypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:t="http://hoerstemeier.com/tambon/"
  targetNamespace="http://hoerstemeier.com/tambon/"
  attributeFormDefault="unqualified" elementFormDefault="qualified"
>

  <xs:include schemaLocation="board.xsd" />
  <xs:include schemaLocation="gazette.xsd" />

  <xs:attributeGroup name="ThaiNameMandatory">
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Name in Thai.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="english" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Romanized name.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="ThaiNameOptional">
    <xs:attribute name="name" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Name in Thai.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="english" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Romanized name.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="Comment">
    <xs:attribute name="comment" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Plain text comment for information not covered in the formal fields.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:simpleType name="EntityType">
    <xs:annotation>
      <xs:documentation>Types of administrative entities.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Changwat">
        <xs:annotation>
          <xs:documentation>Province (จังหวัด, changwat).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Bangkok">
        <xs:annotation>
          <xs:documentation>Special administrative unit of Krung Thep (องค์กรปกครองส่วนท้องถิ่นรูปแบบพิเศษกรุงเทพมหานคร).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Amphoe">
        <xs:annotation>
          <xs:documentation>District (อำเภอ, amphoe), subdivision of provinces.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="KingAmphoe">
        <xs:annotation>
          <xs:documentation>Minor district (กิ่งอำเภอ, King Amphoe), subdivision of provinces.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Tambon">
        <xs:annotation>
          <xs:documentation>Subdistrict (ตำบล, tambon), subdivision of districts.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Khet">
        <xs:annotation>
          <xs:documentation>Districts of Bangkok (เขต, khet).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Khwaeng">
        <xs:annotation>
          <xs:documentation>Subdistrict of Bangkok (แขวง, Khwaeng).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Muban">
        <xs:annotation>
          <xs:documentation>Administrative village (หมู่บ้าน, Muban), subdivision of subdistricts.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Mueang">
        <xs:annotation>
          <xs:documentation>Special administrative municipality (องค์กรปกครองส่วนท้องถิ่นรูปแบบพิเศษ, i.e. Pattaya)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Monthon">
        <xs:annotation>
          <xs:documentation>Circles (มณฑล or มณฑลเทศาภิบาล, monthon)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ViceRoyality">
        <xs:annotation>
          <xs:documentation>Vice royal area (อุปราชมณทล, Uparat Monthon)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Phak">
        <xs:annotation>
          <xs:documentation>Region (ภาค, phak)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TAO">
        <xs:annotation>
          <xs:documentation>Subdistrict administrative organization (องค์การบริหารส่วนตำบล, อบต TAO or SAO).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SaphaTambon">
        <xs:annotation>
          <xs:documentation>Subdistrict Council (สภาตำบล, Sapha Tambon)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ThesabanTambon">
        <xs:annotation>
          <xs:documentation>Subdistrict municipality (เทศบาลตำบล, Thesaban Tambon).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ThesabanMueang">
        <xs:annotation>
          <xs:documentation>Town municipality (เทศบาลเมือง, Thesaban Mueang)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ThesabanNakhon">
        <xs:annotation>
          <xs:documentation>City municipality (เทศบาลนคร, Thesaban Nakhon)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Sukhaphiban">
        <xs:annotation>
          <xs:documentation>Sanitary district (สุขาภิบาล, Sukhaphiban).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SukhaphibanTambon">
        <xs:annotation>
          <xs:documentation>Rural sanitary district (สุขาภิบาลตำบล, Sukhaphiban Tambon).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SukhaphibanMueang">
        <xs:annotation>
          <xs:documentation>Urban sanitary district (สุขาภิบาลเมือง, Sukhaphiban Mueang).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Chumchon">
        <xs:annotation>
          <xs:documentation>Borough (ชุมชน, Chumchon), subdivision of municipalities.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PAO">
        <xs:annotation>
          <xs:documentation>Provincial administrative organization (องค์การบริหารส่วนจังหวัด, อบจ).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ProvinceCouncil">
        <xs:annotation>
          <xs:documentation>Provincial council (สภาจังหวัด, Sapha Changwat), the precursor of the PAO.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="KlumChangwat">
        <xs:annotation>
          <xs:documentation>Province cluster (กลุ่มจังหวัด, Klum Changwat)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Constituency">
        <xs:annotation>
          <xs:documentation>Constituency (เขตเลือกตั้ง, Khet Lueak Tang), either for local or general elections.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ElectoralRegion">
        <xs:annotation>
          <xs:documentation>Electoral region as defined in the 2007 constitution.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Country">
        <xs:annotation>
          <xs:documentation>Whole of Thailand (ประเทศไทย).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Unknown">
        <xs:annotation>
          <xs:documentation>Generic entry for other types.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <!-- special types not fully understood -->
      <xs:enumeration value="SakhaTambon">
        <xs:annotation>
          <xs:documentation>Branch subdistrict (สาขาตำบล, Sakha Tambon)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SakhaKhwaeng">
        <xs:annotation>
          <xs:documentation>Branch subdistrict (สาขาแขวง, Sakha Khwaeng)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <!-- Entries which should not be used -->
      <xs:enumeration value="Thesaban">
        <xs:annotation>
          <xs:documentation>Municipality of undefined type (เทศบาล, Thesaban).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Sakha">
        <xs:annotation>
          <xs:documentation>Branch of undefined type (สาขา, Sakha).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="EntityBase">
    <xs:attribute name="type" type="t:EntityType" use="optional" default="Unknown" />
    <xs:attribute name="name" type="xs:string" use="optional" />
    <xs:attribute name="english" type="xs:string" use="optional" />
    <xs:attribute name="geocode" type="xs:unsignedInt" use="optional" default="0" />
    <xs:attributeGroup ref="t:Comment" />
  </xs:complexType>
  <xs:simpleType name="OfficialType">
    <xs:annotation>
      <xs:documentation>Types of leaders or deputy leaders for the administrative entities.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Governor">
        <xs:annotation>
          <xs:documentation>Province governor (ผู้ว่าราชการจังหวัด [ผวจ], Phu Wa Rachakan Changwat, earlier also ข้าหลวงประจำจังหวัด Kha Luang Pracham Changwat and ผู้ว่าราชการเมือง Phu Wa Rachakan Mueng).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BangkokGovernor">
        <xs:annotation>
          <xs:documentation>Governor of Bangkok (ผู้ว่าราชการกรุงเทพมหานคร, Phu Wa Rachakan Krung Thep Maha Nakhon).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ViceGovernor">
        <xs:annotation>
          <xs:documentation>Vice province governor (รองผู้ว่าราชการจังหวัด, Rong Phu Wachakan Changwat).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DeputyGovernor">
        <xs:annotation>
          <xs:documentation>Deputy province governor (ปลัดจังหวัด , Palat Changwat).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DistrictOfficer">
        <xs:annotation>
          <xs:documentation>District (head) officer (นายอำเภอ [นอภ], Nai Amphoe).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MinorDistrictOfficer">
        <xs:annotation>
          <xs:documentation>Minor District (head) officer (หัวหน้ากิ่งอำเภอ, Hua Na King Amphoe).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AssistantDistrictOfficer">
        <xs:annotation>
          <xs:documentation>Assistant distict officer (ปลัดอำเภอ , Palat Amphoe).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DistrictOfficerBangkok">
        <xs:annotation>
          <xs:documentation>District officer in Bangkok (ผู้อำนวยการเขต, Phu Amnuai Kan Khet).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DeputyDistrictOfficerBangkok">
        <xs:annotation>
          <xs:documentation>Deputy district officer in Bangkok (ผู้ช่วยผู้อำนวยการเขต, Phu Chuai Amnuai Kan Khet).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Kamnan">
        <xs:annotation>
          <xs:documentation>Subdistrict headman (กำนัน, Kamnan), leader of Tambon.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PhuYaiBan">
        <xs:annotation>
          <xs:documentation>Village headman (ผู้ใหญ่บ้าน [ผญบ], Phu Yai Ban), leader of Muban.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PAOChairman">
        <xs:annotation>
          <xs:documentation>Chief Executive of PAO (นายกองค์การบริหารส่วนจังหวัด, Nayok Ongkanborihansuan Changwat), since 2004 directly elected.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Mayor">
        <xs:annotation>
          <xs:documentation>Mayor (นายกเทศมนตรี, Nayok Thesamontri), leader of Thesaban.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DeputyMayor">
        <xs:annotation>
          <xs:documentation>Deputy Mayor (รองนายกเทศมนตรี, Rong Nayok Thesamontri).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MunicipalityCouncilChairman">
        <xs:annotation>
          <xs:documentation>Chairman of the municipal council (ประธานสภาเทศบาล, Prathan Sapha Thesaban).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MunicipalClerk">
        <xs:annotation>
          <xs:documentation>Municipal clerk (ปลัดเทศบาล, Palat Thesaban).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TAOClerk">
        <xs:annotation>
          <xs:documentation>TAO clerk (ปลัดองค์การบริหารส่วนตำบล, Palat O.Bo.To.).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PAOClerk">
        <xs:annotation>
          <xs:documentation>PAO clerk (ปลัดองค์การบริหารส่วนจังหวัด, Palat O.Bo.Cho.).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TAOMayor">
        <xs:annotation>
          <xs:documentation>Mayor of TAO (นายกองค์การบริหารส่วนตำบล, Nayok Ongkanborihansuan Tambon), directly elected.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TAOChairman">
        <xs:annotation>
          <xs:documentation>Chairman of TAO (ประธานกรรมการบริหารองค์การบริหารส่วนตำบล, Prathan Kromkanborihan Ongkanborihansuan Tambon), chosen by council.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TAOCouncilChairman">
        <xs:annotation>
          <xs:documentation>Chairman of the TAO council (ประธานสภาองค์การบริหารส่วนตำบล, Prathan Sapha Ongkanborihansuan Tambon).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TambonCouncilChairman">
        <xs:annotation>
          <xs:documentation>Chairman of the Tambon Council (ประธานสภาตำบล, Prathan Sapha Tambon).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PAOCouncilChairman">
        <xs:annotation>
          <xs:documentation>Chairman of the PAO Council (ประธานสภาองค์การบริหารส่วนจังหวัด, Prathan Sapha Ongkanborihansuan Changwat).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SanitaryDistrictChairman">
        <xs:annotation>
          <xs:documentation>Sanitary district chairman (ประธานกรรมการสุขาภิบาล, Prathan Kromkan Sukhaphiban).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ChumchonChairman">
        <xs:annotation>
          <xs:documentation>Borough headman (ประธานชุมชน, Prathan Chumchon).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MonthonCommissioner">
        <xs:annotation>
          <xs:documentation>Monthon commissioner (ข้าหลวงเทศาภิบาล, Kha Luang Thesaphiban or สมุหเทศาภิบาล, Samut Thesaphiban).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MonthonClerk">
        <xs:annotation>
          <xs:documentation>Monthon clerk (ปลัดมณฑล, Palat Monthon).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MueangGovernor">
        <xs:annotation>
          <xs:documentation>Governor of Mueang (เจ้าเมือง, Chao Mueang).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ProvinceCouncilChairman">
        <xs:annotation>
          <xs:documentation>Chairman of the province council (ประธาน สภาจังหวัด, Prathan Sapha Changwat).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ViceRoyal">
        <xs:annotation>
          <xs:documentation>Vice royal (อุปราชมณทล, Uparat Monthon).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RegionGovernor">
        <xs:annotation>
          <xs:documentation>Region governor (ข้าหลวงภาค, Kha Luang Phak or ผู้ว่าราชการภาค, Phu Waratchakan Phak).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RegionViceGovernor">
        <xs:annotation>
          <xs:documentation>Region vice governor (รองผู้ว่าราชการภาค, Rong Phu Waratchakan Phak).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MyUriStatus">
    <xs:annotation>
      <xs:documentation>Status of a web link.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:documentation>Status unknown.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="online">
        <xs:annotation>
          <xs:documentation>Website up and running.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="offline">
        <xs:annotation>
          <xs:documentation>Website unreachable due to server problems.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="obsolete">
        <xs:annotation>
          <xs:documentation>Discontinued but still online website.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="expired">
        <xs:annotation>
          <xs:documentation>Domain registration has expired.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="broken">
        <xs:annotation>
          <xs:documentation>Server alive, but returns no valid webpage, e.g. 404.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="hacked">
        <xs:annotation>
          <xs:documentation>Defaced or spreading malware and blocked by Google safe browsing.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="removed">
        <xs:annotation>
          <xs:documentation>Website removed from free web hosting service.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MyUri">
    <xs:annotation>
      <xs:documentation>URL with an optional comment and status.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:anyURI">
        <xs:attributeGroup ref="t:Comment" />
        <xs:attribute name="status" type="t:MyUriStatus" use="optional" default="unknown">
          <xs:annotation>
            <xs:documentation>Status of the web link.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="lastchecked" type="xs:date" use="optional">
          <xs:annotation>
            <xs:documentation>Date of last check of validity of URL.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="lastonline" type="xs:date" use="optional">
          <xs:annotation>
            <xs:documentation>Date of last successful read of URL.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="ChangeStatus">
    <xs:annotation>
      <xs:documentation>Status of a change request.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Gazette">
        <xs:annotation>
          <xs:documentation>Change announced in Royal Gazette.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Done">
        <xs:annotation>
          <xs:documentation>Change approved and done.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Pending">
        <xs:annotation>
          <xs:documentation>Change waiting for final approval.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Withdrawn">
        <xs:annotation>
          <xs:documentation>Change not done though originally approved.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Denied">
        <xs:annotation>
          <xs:documentation>Change not approved.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Ministry">
    <xs:annotation>
      <xs:documentation>Ministries in Thailand.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="MOI">
        <xs:annotation>
          <xs:documentation>Ministry of Interior (กระทรวงมหาดไทย, มท).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MinisterialOrder">
    <xs:annotation>
      <xs:documentation>Reference to a ministerial order.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="ministry" type="t:Ministry">
      <xs:annotation>
        <xs:documentation>Ministry which issued the order.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="date" type="xs:date">
      <xs:annotation>
        <xs:documentation>Date the order was issued.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="title" type="xs:string">
      <xs:annotation>
        <xs:documentation>Title or reference number of the order.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="BookReference">
    <xs:annotation>
      <xs:documentation>Reference to a book.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="title" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Title of the book.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="author" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Main author or editor of the book.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="publication" type="xs:gYear" use="optional">
      <xs:annotation>
        <xs:documentation>Publication year.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="isbn" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>ISBN of the book.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="ReferenceList">
    <xs:annotation>
      <xs:documentation>List of references.</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element name="gazetteref" type="t:GazetteRelated" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Related Royal Gazette entry.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="url" type="t:MyUri" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Web page reference.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="meetingreference" type="t:MeetingReference" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Meeting reference.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ministerialorder" type="t:MinisterialOrder" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Ministerial order.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="book" type="t:BookReference" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Reference to a book.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="WikiBase">
    <xs:annotation>
      <xs:documentation>Link to wikidata.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="wikidata" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Wikidata item id, always starting with the letter Q followed by a number. Full URL to the item Q123 is https://www.wikidata.org/wiki/Q123 </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="freebase" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Freebase item id, always starting with the letter /m/ followed by a alphanumberic text including underscores. Full URL to the item /m/018k_b is http://www.freebase.com/m/018k_b </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="WikiLocation">
    <xs:annotation>
      <xs:documentation>Links to various wikis information.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:WikiBase">
        <xs:attribute name="openstreetmap" type="xs:int" use="optional">
          <xs:annotation>
            <xs:documentation>Open street map relation id. Full URL to the id 123 is http://www.openstreetmap.org/browse/relation/123 </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="wikimapia" type="xs:int" use="optional">
          <xs:annotation>
            <xs:documentation>Wikimapia id. Full URL to the id 123 is http://www.wikimapia.org/123 Office and geographical entity have different ids.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>