DataModel/Constituencies.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- ToDo: Move entity stuff into geocode.xsd -->
<xs:schema
  xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#"
  xmlns:t="http://hoerstemeier.com/tambon/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://hoerstemeier.com/tambon/"
  attributeFormDefault="unqualified" elementFormDefault="qualified" >

  <xs:include schemaLocation="basictypes.xsd"/>

  <xs:simpleType name="ElectionType">
    <xs:annotation>
      <xs:documentation>Types of elections.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Parliament">
        <xs:annotation>
          <xs:documentation>House of Representatives.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Senate">
        <xs:annotation>
          <xs:documentation>Senate.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PAOChairman">
        <xs:annotation>
          <xs:documentation>Chairman of the provincial administrative organization.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PAOCouncil">
        <xs:annotation>
          <xs:documentation>Council of the provincial administrative organization.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TAOMayor">
        <xs:annotation>
          <xs:documentation>Chairman/Mayor of the subdistrict administrative organization.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TAOCouncil">
        <xs:annotation>
          <xs:documentation>Council of the subdistrict administrative organization.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Mayor">
        <xs:annotation>
          <xs:documentation>Mayor of the municipality.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ThesabanCouncil">
        <xs:annotation>
          <xs:documentation>Council of the municipality.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BangkokGovernor">
        <xs:annotation>
          <xs:documentation>Governor of Bangkok.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BangkokCouncil">
        <xs:annotation>
          <xs:documentation>Council of the BMA.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BangkokDistrictCouncil">
        <xs:annotation>
          <xs:documentation>Council of the districts in Bangkok.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ConstituencyEntity">
    <xs:complexContent>
      <xs:extension base="t:EntityBase">
        <xs:sequence>
          <xs:element type="t:ConstituencyEntity" name="entity" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element type="t:ConstituencyList" name="constituencies" minOccurs="0" maxOccurs="1"/>
          <xs:element type="t:Election" name="election" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityInExclude">
    <xs:complexContent>
      <xs:extension base="t:EntityBase">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityInclude">
    <xs:complexContent>
      <xs:extension base="t:EntityBase">
        <xs:sequence>
          <xs:element type="t:EntityInExclude" name="exclude" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityIncludeSub">
    <xs:complexContent>
      <xs:extension base="t:EntityBase">
        <xs:sequence>
          <xs:element type="t:EntityInExclude" name="include" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ConstituencyList">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="constituency" type="t:Constituency"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Constituency">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="1" maxOccurs="1" name="include" type="t:EntityInclude"/>
        <xs:element minOccurs="1" maxOccurs="1" name="includesub" type="t:EntityIncludeSub"/>
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="election" type="t:Election"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="byelection" type="t:ByElection"/>
    </xs:sequence>
    <xs:attribute name="index" type="xs:unsignedByte" use="required" />
    <xs:attribute name="numberofseats" type="xs:unsignedByte" use="optional" default="1"/>
    <xs:attribute name="comment" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ElectionData">
    <xs:sequence>
      <xs:element type="t:PartyList" name="parties" minOccurs="0" maxOccurs="1"/>
      <xs:element type="t:ConstituencyEntity" name="entity" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element type="t:ElectionData" name="electiondata"/>

  <xs:complexType name="Party">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="english" type="xs:string"/>
    <xs:attribute name="id" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="PartyList">
    <xs:sequence>
      <xs:element name="party" type="t:Party" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyListResultEntry">
    <xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
    <xs:attribute name="votes" type="xs:nonNegativeInteger" use="required"/>
    <xs:attribute name="seats" type="xs:nonNegativeInteger" use="optional"/>
  </xs:complexType>
  <xs:complexType name="PartyListResult">
    <xs:sequence>
      <xs:element name="party" type="t:PartyListResultEntry" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="eligiblevoter" type="xs:nonNegativeInteger" use="required"/>
    <xs:attribute name="invalidvotes" type="xs:positiveInteger" use="required"/>
    <xs:attribute name="abstainvotes" type="xs:positiveInteger" use="required"/>
  </xs:complexType>
  <xs:simpleType name="ElectionStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="elected">
        <xs:annotation>
          <xs:documentation>Elected and endorsed by Election Commission.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="pending">
        <xs:annotation>
          <xs:documentation>Elected, but not yet endorsed by Election Commission.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="redcard">
        <xs:annotation>
          <xs:documentation>Elected, but red-carded Election Commission, not eligible for by-election.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="yellowcard">
        <xs:annotation>
          <xs:documentation>Elected, but yellow-carded Election Commission,eligible for by-election.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <!-- ToDo: can be before election, or after, which are two different status -->
      <xs:enumeration value="disqualified"/>
      <xs:enumeration value="resigned"/>
      <xs:enumeration value="died"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Candidate">
    <xs:attribute name="party" type="xs:nonNegativeInteger" use="optional"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="title" type="xs:string" use="optional"/>
    <xs:attribute name="english" type="xs:string" use="optional"/>
    <xs:attribute name="status" type="t:ElectionStatus" use="optional"/>
    <xs:attribute name="comment" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:complexType name="CandidateListEntry">
    <xs:complexContent>
      <xs:extension base="t:Candidate">
        <xs:attribute name="id" type="xs:nonNegativeInteger" use="required"/>
        <xs:attribute name="votes" type="xs:positiveInteger" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyCandidateListEntry">
    <xs:complexContent>
      <xs:extension base="t:Candidate">
        <xs:attribute name="index" type="xs:nonNegativeInteger" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyCandidateList">
    <xs:sequence>
      <xs:element name="candidate" type="t:PartyCandidateListEntry" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="party" type="xs:nonNegativeInteger"/>
  </xs:complexType>
  <xs:complexType name="CandidateList">
    <xs:sequence>
      <xs:element name="candidate" type="t:CandidateListEntry" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="eligiblevoter" type="xs:nonNegativeInteger" use="optional"/>
    <xs:attribute name="invalidvotes" type="xs:positiveInteger" use="optional"/>
    <xs:attribute name="abstainvotes" type="xs:positiveInteger" use="optional"/>
  </xs:complexType>
  <xs:simpleType name="ByElectionReason">
    <xs:restriction base="xs:string">
      <xs:enumeration value="redcard"/>
      <xs:enumeration value="yellowcard"/>
      <xs:enumeration value="resignation"/>
      <xs:enumeration value="death"/>
      <xs:enumeration value="disqualification"/>
      <xs:enumeration value="other"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ByElection">
    <xs:sequence>
      <xs:element name="candidates" type="t:CandidateList" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="date" type="xs:date" use="optional"/>
    <xs:attribute name="type" type="t:ElectionType" use="optional"/>
    <xs:attribute name="eligiblevoter" type="xs:nonNegativeInteger" use="optional"/>
    <xs:attribute name="reason" type="t:ByElectionReason"/>
    <xs:attribute name="comment" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="Election">
    <xs:sequence>
      <xs:element name="partylist" type="t:PartyCandidateList" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="partylistresult" type="t:PartyListResult" minOccurs="0" maxOccurs="1"/>
      <xs:element name="candidates" type="t:CandidateList" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="date" type="xs:date" use="optional"/>
    <xs:attribute name="type" type="t:ElectionType" use="optional"/>
  </xs:complexType>
</xs:schema>