DataModel/Constituencies.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- ToDo: Move entity stuff into geocode.xsd -->
<xs:schema
  xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#"
  xmlns:t="http://hoerstemeier.com/tambon/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://hoerstemeier.com/tambon/"
  attributeFormDefault="unqualified" elementFormDefault="qualified">

  <xs:include schemaLocation="basictypes.xsd" />
  <xs:include schemaLocation="gazette.xsd" />

  <xs:simpleType name="ElectionType">
    <xs:annotation>
      <xs:documentation>Types of elections.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Parliament">
        <xs:annotation>
          <xs:documentation>House of Representatives.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Senate">
        <xs:annotation>
          <xs:documentation>Senate.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PAOChairman">
        <xs:annotation>
          <xs:documentation>Chairman of the provincial administrative organization (นายกองค์การบริหารส่วนจังหวัด).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PAOCouncil">
        <xs:annotation>
          <xs:documentation>Council of the provincial administrative organization (สภาองค์การบริหารส่วนจังหวัด).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TAOMayor">
        <xs:annotation>
          <xs:documentation>Mayor of the subdistrict administrative organization (นายกองค์การบริหารส่วนตำบล).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TAOCouncil">
        <xs:annotation>
          <xs:documentation>Council of the subdistrict administrative organization (สภาองค์การบริหารส่วนตำบล).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Mayor">
        <xs:annotation>
          <xs:documentation>Mayor of the municipality (นายกเทศมนตรี).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ThesabanCouncil">
        <xs:annotation>
          <xs:documentation>Council of the municipality (สภาเทศบาล).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BangkokGovernor">
        <xs:annotation>
          <xs:documentation>Governor of Bangkok.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BangkokCouncil">
        <xs:annotation>
          <xs:documentation>Council of the BMA.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BangkokDistrictCouncil">
        <xs:annotation>
          <xs:documentation>Council of the districts in Bangkok.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VillageHeadman">
        <xs:annotation>
          <xs:documentation>Village headman election.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SubdistrictHeadman">
        <xs:annotation>
          <xs:documentation>Subdistrict headman election.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ConstituencyEntity">
    <xs:complexContent>
      <xs:extension base="t:EntityBase">
        <xs:sequence>
          <xs:element type="t:ConstituencyEntity" name="entity" minOccurs="0" maxOccurs="unbounded" />
          <xs:element type="t:ConstituencyList" name="constituencies" minOccurs="0" maxOccurs="1" />
          <xs:element type="t:Election" name="election" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityInExclude">
    <xs:annotation>
      <xs:documentation>Part of the parent entity which is explicitly excluded/included in the constituency.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:EntityBase">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityInclude">
    <xs:annotation>
      <xs:documentation>Entity included in the constituency.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:EntityBase">
        <xs:sequence>
          <xs:element type="t:EntityInExclude" name="exclude" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Part of the parent entity which is explicitly excluded.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="index" type="xs:unsignedByte" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntityIncludeSub">
    <xs:annotation>
      <xs:documentation>Include only the parts of the entities given in the list into the constituency.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:EntityBase">
        <xs:sequence>
          <xs:element type="t:EntityInExclude" name="include" minOccurs="1" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Part of the parent entity which is explicitly included.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="index" type="xs:unsignedByte" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ConstituencyList">
    <xs:annotation>
      <xs:documentation>List of constituencies.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>List of constituencies.</xs:documentation>
      </xs:annotation>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="constituency" type="t:Constituency" />
    </xs:sequence>
    <xs:attribute name="index" type="xs:unsignedByte" use="optional">
      <xs:annotation>
        <xs:documentation>Number of the constituency list.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ConstituencyListBase">
    <xs:annotation>
      <xs:documentation>List of constituencies.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:annotation>
        <xs:documentation>List of constituencies.</xs:documentation>
      </xs:annotation>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="constituency" type="t:ConstituencyBase" />
    </xs:sequence>
    <xs:attribute name="index" type="xs:unsignedByte" use="optional">
      <xs:annotation>
        <xs:documentation>Number of the constituency list.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="entity" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Geocode of the entity covered by the constituency list.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ConstituencyBase">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="1" maxOccurs="1" name="include" type="t:EntityInclude" />
        <xs:element minOccurs="1" maxOccurs="1" name="includesub" type="t:EntityIncludeSub" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="index" type="xs:unsignedByte" use="required">
      <xs:annotation>
        <xs:documentation>Number of the constituency.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="numberofseats" type="xs:unsignedByte" use="optional" default="1">
      <xs:annotation>
        <xs:documentation>Number of seats to be filled in the constituency.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="t:Comment" />
  </xs:complexType>
  <xs:complexType name="Constituency">
    <xs:annotation>
      <xs:documentation>Constituency list including election data.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:ConstituencyBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="election" type="t:Election" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="byelection" type="t:ByElection" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ElectionData">
    <xs:sequence>
      <xs:element type="t:PartyList" name="parties" minOccurs="0" maxOccurs="1" />
      <xs:element type="t:ConstituencyEntity" name="entity" minOccurs="1" maxOccurs="1" />
      <xs:element type="t:ReferenceList" name="references" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element type="t:ElectionData" name="electiondata" />

  <xs:complexType name="Party">
    <xs:annotation>
      <xs:documentation>Party contesting in the election.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Thai name of the party.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="english" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>English name of the party.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="id" type="xs:unsignedInt">
      <xs:annotation>
        <xs:documentation>Number assigned to the party for the election in question.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="t:Comment" />
  </xs:complexType>
  <xs:complexType name="PartyList">
    <xs:annotation>
      <xs:documentation>List of parties contesting in the election.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="party" type="t:Party" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Party contesting in the election.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyListResultEntry">
    <xs:attribute name="id" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Party identified by the number assigned to it.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="votes" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Number of votes received.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="seats" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Number of seats won.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PartyListResult">
    <xs:annotation>
      <xs:documentation>Result of the party list voting.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="party" type="t:PartyListResultEntry" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Result for a single party.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="eligiblevoter" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Number of eligible voters (จำนวนผู้มาใช้สิทธิเลือกตั้ง).</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="invalidvotes" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Number of invalid votes cast (จำนวนบัตรเสีย).</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="abstainvotes" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Number of abstain votes (จำนวนบัตรไม่ประสงค์ลงคะแนน).</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ElectionStatus">
    <xs:annotation>
      <xs:documentation>Status of the candidate before or due to the election.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="elected">
        <xs:annotation>
          <xs:documentation>Elected and endorsed by Election Commission.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="pending">
        <xs:annotation>
          <xs:documentation>Elected, but not yet endorsed by Election Commission.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="redcard">
        <xs:annotation>
          <xs:documentation>Elected, but red-carded Election Commission, not eligible for by-election.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="yellowcard">
        <xs:annotation>
          <xs:documentation>Elected, but yellow-carded Election Commission, eligible for by-election.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="disqualified">
        <xs:annotation>
          <xs:documentation>Disqualified before election date, might be bankruptcy, conviction, not party member long enough.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="resigned">
        <xs:annotation>
          <xs:documentation>Resigned from candidate list before election date.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="died">
        <xs:annotation>
          <xs:documentation>Died before election date already filed as candidate.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="moveup">
        <xs:annotation>
          <xs:documentation>Move-up candidate on party list.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="partychange">
        <xs:annotation>
          <xs:documentation>Change of party membership, thus disqualified as move-up.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Candidate">
    <xs:sequence>
      <xs:element name="gazetteref" type="t:GazetteRelated" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="party" type="xs:unsignedInt" use="optional" />
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="title" type="xs:string" use="optional" />
    <xs:attribute name="english" type="xs:string" use="optional" />
    <xs:attribute name="status" type="t:ElectionStatus" use="optional" />
    <xs:attribute name="end" type="xs:date" use="optional" />
    <xs:attribute name="endreason" type="t:ByElectionReason" use="optional" />
    <xs:attributeGroup ref="t:Comment" />
  </xs:complexType>
  <xs:complexType name="CandidateListEntry">
    <xs:complexContent>
      <xs:extension base="t:Candidate">
        <xs:attribute name="id" type="xs:unsignedInt" use="required" />
        <xs:attribute name="votes" type="xs:unsignedInt" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyCandidateListEntry">
    <xs:complexContent>
      <xs:extension base="t:Candidate">
        <xs:attribute name="index" type="xs:unsignedInt" use="required">
          <xs:annotation>
            <xs:documentation>Position on the party list.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="begin" type="xs:date" use="optional">
          <xs:annotation>
            <xs:documentation>Date of securing seat, only necessary for move-up candidates where entry date is not same as election date.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PartyCandidateList">
    <xs:sequence>
      <xs:element name="candidate" type="t:PartyCandidateListEntry" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="party" type="xs:unsignedInt" />
  </xs:complexType>
  <xs:complexType name="CandidateList">
    <xs:sequence>
      <xs:element name="candidate" type="t:CandidateListEntry" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Candidate within the election.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="eligiblevoter" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>
          Number of eligible voters (จำนวนผู้มีสิทธิเลือกตั้งในบัญชีรายชื่อ).
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="invalidvotes" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>
          Number of invalid votes (จำนวนบัตรเสีย).
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="abstainvotes" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>
          Number of ballots marked with "no vote" (จำนวนบัตรไม่ประสงค์จะลงคะแนน).
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="t:Comment" />
  </xs:complexType>
  <xs:simpleType name="ByElectionReason">
    <xs:annotation>
      <xs:documentation>Reason a candidate looses his seat.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="redcard">
        <xs:annotation>
          <xs:documentation>Received red card (ใบแดง).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="yellowcard">
        <xs:annotation>
          <xs:documentation>Received yellow card (ใบเหลือง).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="resignation">
        <xs:annotation>
          <xs:documentation>Resigned from seat.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="bankruptcy">
        <xs:annotation>
          <xs:documentation>Filed bankruptcy and thus lost right to have seat.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="conviction">
        <xs:annotation>
          <xs:documentation>Convicted in criminal case and thus lost right to have seat.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="death">
        <xs:annotation>
          <xs:documentation>Died while having seat.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="disqualification">
        <xs:annotation>
          <xs:documentation>Disqualified for another reason.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Reason not covered by other types.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ByElection">
    <xs:sequence>
      <xs:element name="candidates" type="t:CandidateList" minOccurs="0" maxOccurs="1" />
      <xs:element name="gazetteref" type="t:GazetteRelated" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="date" type="xs:date" use="optional" />
    <xs:attribute name="type" type="t:ElectionType" use="optional" />
    <xs:attribute name="reason" type="t:ByElectionReason" />
    <xs:attributeGroup ref="t:Comment" />
  </xs:complexType>
  <xs:complexType name="ElectionApproval">
    <xs:sequence>
      <xs:element name="meeting" type="t:MeetingReference" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Meeting in which the election result was approved.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="url" type="t:MyUri" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>URL of approval document.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="signedby" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          Official who signed the approval.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="Election">
    <xs:sequence>
      <xs:element name="partylist" type="t:PartyCandidateList" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>List of political parties participating in the election.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="partylistresult" type="t:PartyListResult" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Result of the proportional party list.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="candidates" type="t:CandidateList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>List of the direct candidates (in case there is just one constituency).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="announce" type="t:ElectionApproval" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>EC meeting reference on which the election date was announced.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="approval" type="t:ElectionApproval" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>EC meeting reference on which the election result was approved.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="references" type="t:ReferenceList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>References on the election.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="date" type="xs:date" use="optional">
      <xs:annotation>
        <xs:documentation>Date of the election.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" type="t:ElectionType" use="optional">
      <xs:annotation>
        <xs:documentation>Type of election.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>