DataModel/Gazette.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#"
  xmlns:t="http://hoerstemeier.com/tambon/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://hoerstemeier.com/tambon/"
  attributeFormDefault="unqualified" elementFormDefault="qualified">

  <xs:import namespace="http://www.w3.org/2003/01/geo/wgs84_pos#" schemaLocation="geopoint.xsd" />
  <xs:include schemaLocation="basictypes.xsd" />
  <xs:include schemaLocation="constituencies.xsd" />
  <xs:include schemaLocation="board.xsd" />

  <xs:simpleType name="ParkType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NationalPark">
        <xs:annotation>
          <xs:documentation>National park (อุทยานแห่งชาติ).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ForestPark">
        <xs:annotation>
          <xs:documentation>Forest park (วนอุทยานใน).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="HistoricalPark">
        <xs:annotation>
          <xs:documentation>Historical park (อุทยานประวัติศาสตร์).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WildlifeSanctuary">
        <xs:annotation>
          <xs:documentation>Wildlife sanctuary (เขตรักษาพันธุ์สัตว์ป่า).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NonHuntingArea">
        <xs:annotation>
          <xs:documentation>Non-hunting area (เขตห้ามล่าสัตว์ป่า).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="HistoricalSite">
        <xs:annotation>
          <xs:documentation>Historical site (เขตที่ดินโบราณสถาน).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NationalForest">
        <xs:annotation>
          <xs:documentation>National protected forest (ป่าสงวนแห่งชาติ).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OfficialAction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Assign">
        <xs:annotation>
          <xs:documentation>Transfer to a new post.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Remove">
        <xs:annotation>
          <xs:documentation>Transfer from a post.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Decease">
        <xs:annotation>
          <xs:documentation>End of term by death.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SignByFunction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PrimeMinister">
        <xs:annotation>
          <xs:documentation>Prime Minister (นายกรัฐมนตรี, Nayok Ratmontri).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DeputyPrimeMinister">
        <xs:annotation>
          <xs:documentation>Deputy Prime Minister (รองนายกรัฐมนตรี, Rong Nayok Ratmontri)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MinisterOfInterior">
        <xs:annotation>
          <xs:documentation>Minister of Interior (รัฐมนตรีว่าการกระทรวงมหาดไทย, Rattamontri Wa Kan Krasuang Mahatthai)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DeputyMinisterOfInterior">
        <xs:annotation>
          <xs:documentation>Deputy Ministry of Interior (รัฐมนตรีช่วยว่าการกระทรวงมหาดไทย, Rattamontri Chuai Wa Kan Krasuang Mahatthai).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MinistryOfInteriorPermanentSecretary">
        <xs:annotation>
          <xs:documentation>Permanent Secretary of the Ministry of Interior (ปลัดกระทรวงมหาดไทย, Palad Krasuang Mahatthai).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MinistryOfInteriorDeputyPermanentSecretary">
        <xs:annotation>
          <xs:documentation>Deputy Permanent Secretary of the Ministry of Interior (รองปลัดกระทรวงมหาดไทย, Rong Palad Krasuang Mahatthai). </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ProvinceGovernor">
        <xs:annotation>
          <xs:documentation>Province governor (ผู้ว่าราชการจังหวัด, Phu Wa Rachakan Changwat).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ViceProvinceGovernor">
        <xs:annotation>
          <xs:documentation>Vice province governor (รองผู้ว่าราชการจังหวัด, Rong Phu Wachakan Changwat).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BangkokGovernor">
        <xs:annotation>
          <xs:documentation>Governor of Bangkok (ผู้ว่าราชการกรุงเทพมหานคร, Phu Wa Rachakan Krung Thep Maha Nakhon).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BangkokPermanentSecretary">
        <xs:annotation>
          <xs:documentation>Permanent Secretary of Bangkok (ปลัดกรุงเทพ, Palad Krung Thep).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DeputyBangkokPermanentSecretary">
        <xs:annotation>
          <xs:documentation>Deputy Permanent Secretary of Bangkok (รองปลัดกรุงเทพ, Rong Palad Krung Thep).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MinisterOfInformationAndCommunicationTechnology">
        <xs:annotation>
          <xs:documentation>Minister of Information and Communication Technology (รัฐมนตรีว่าการกระทรวงเทคโนโลยีสารสนเทศและการสื่อสาร).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ElectionCommissionPresident">
        <xs:annotation>
          <xs:documentation>President of the Election Commission (ประธานกรรมการการเลือกตั้ง, Prathan Kammakan Kan Lueang Tang)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ElectionCommissionActingPresident">
        <xs:annotation>
          <xs:documentation>Acting President of the Election Commission (ปฏิบัติหน้าที่แทน ประธานกรรมการการเลือกตั้ง, Patibat Nathithaen Prathan Kammakan Kan Lueang Tang)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RoyalInstitutePresident">
        <xs:annotation>
          <xs:documentation>President of the Royal Institute (นายกราชบัณฑิตยสถาน)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RoyalInstituteActingPresident">
        <xs:annotation>
          <xs:documentation>Acting President of the Royal Institute (รักษาการตำแหน่งนายกราชบัณฑิตยสถาน)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DepartmentOfTransportDirectorGeneral">
        <xs:annotation>
          <xs:documentation>Director General of the Department of Transport (อธิบดีกรมการขนส่งทางบก).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DistrictOfficerBangkok">
        <xs:annotation>
          <xs:documentation>District officer in Bangkok (ผู้อำนวยการเขต, Phu Amnuai Kan Khet).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DistrictOfficer">
        <xs:annotation>
          <xs:documentation>District (head) officer (นายอำเภอ, Nai Amphoe).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SpeakerOfParliament">
        <xs:annotation>
          <xs:documentation>Speaker of the House of Representatives (ประธานสภาผู้แทนราษฎร, Prathan Sapha Phu Thaen Ratsadon</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Mayor">
        <xs:annotation>
          <xs:documentation>Mayor (นายกเทศมนตรี, Nayok Thesamontri), leader of Thesaban.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TAOMayor">
        <xs:annotation>
          <xs:documentation>Mayor of TAO (นายกองค์การบริหารส่วนตำบล, Nayok Ongganborihansuan Tambon), directly elected.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TAOChairman">
        <xs:annotation>
          <xs:documentation>Chairman of TAO (ประธานกรรมการบริหารองค์การบริหารส่วนตำบล, Prathan Kromganborihansuan Tambon), chosen by council.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PAOChairman">
        <xs:annotation>
          <xs:documentation>PAO chairman (นายกองค์การบริหารส่วนจังหวัด, Nayok Ongganborihansuan Changwat), directly elected.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MunicipalPermanentSecretary">
        <xs:annotation>
          <xs:documentation>Permanent Secretary of Municipality (ปลัดเทศบาล, Palad Thesaban).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FineArtsDepartmentDirectorGeneral">
        <xs:annotation>
          <xs:documentation>Director General of the Fine Arts Department (อธิบดีกรมศิลปากร).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MinisterOfNaturalResourcesAndEnvironment">
        <xs:annotation>
          <xs:documentation>Minister of Natural Resources and Environment (รัฐมนตรีว่าการกระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RegisterOfficeDirector">
        <xs:annotation>
          <xs:documentation>Director of the National Register Office (ผู้อํานวยการทะเบียนกลาง).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RegisterOfficeDeputyDirector">
        <xs:annotation>
          <xs:documentation>Deputy director of the National Register Office (รองผู้อํานวยการทะเบียนกลาง).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name='GazetteReferenceBase' abstract='1'>
    <xs:annotation>
      <xs:documentation>Reference to another gazette announcement.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="volume" type="xs:unsignedInt" use="required" />
    <xs:attribute name="page" type="xs:unsignedInt" use="required" />
    <xs:attribute name="issue" type="xs:string" use="required" />
    <xs:attribute name="date" type="xs:date" use="optional" />
    <xs:attributeGroup ref="t:Comment" />
  </xs:complexType>
  <xs:complexType name="GazetteOperationBase" abstract="1">
    <xs:annotation>
      <xs:documentation>Base gazette operation dealing with an administrative entity.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:EntryActionList">
        <xs:attribute name="geocode" type="xs:unsignedInt" use="optional">
          <xs:annotation>
            <xs:documentation>Geocode of the entity affected.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attributeGroup ref="t:ThaiNameOptional" />
        <xs:attribute name="type" type="t:EntityType" use="optional">
          <xs:annotation>
            <xs:documentation>Type of the entity affected.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="owner" type="xs:unsignedInt" use="optional">
          <xs:annotation>
            <xs:documentation>Geocode for parent unit to which the entity belongs.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ownername" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>Geocode for parent unit to which the entity belongs. Used when no geocode can be set.</xs:documentation>
          </xs:annotation>
        </xs:attribute>

        <xs:attribute name="index" type="xs:unsignedInt" use="optional">
          <xs:annotation>
            <xs:documentation>Index of the action in the announcement.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attributeGroup ref="t:Comment" />

        <xs:attribute name="tambon" type="xs:unsignedInt" use="optional">
          <xs:annotation>
            <xs:documentation>Geocode of corresponding Tambon. Used for TAO and former TAO to identify the original main Tambon.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="parent" type="xs:unsignedInt" use="optional">
          <xs:annotation>
            <xs:documentation>Geocode for parent unit. Used for King Amphoe to hold the Amphoe responsible for the King Amphoe.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="parentname" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>Name for parent unit. Used for King Amphoe to hold the Amphoe responsible for the King Amphoe. Used when no geocode can be set.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GazetteParkBase" abstract="1">
    <xs:annotation>
      <xs:documentation>Base gazette operation dealing with a park.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" ref="geo:Point" />
    </xs:sequence>
    <xs:attributeGroup ref="t:ThaiNameOptional" />
    <xs:attribute name="type" type="t:ParkType" use="required">
      <xs:annotation>
        <xs:documentation>Type of park.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="area" type="xs:double" use="optional">
      <xs:annotation>
        <xs:documentation>Area in km².</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="arearai" type="xs:double" use="optional">
      <xs:annotation>
        <xs:documentation>Area in rai.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="locationgeocode" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Geocode of the lowest possible administrative unit covering the park.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <!--or maybe better a Thai address child element? -->
    <xs:attribute name="id" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Id of the park.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="index" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Number of item within the announcement.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="t:Comment" />
  </xs:complexType>
  <xs:complexType name='GazetteReassign'>
    <xs:annotation>
      <xs:documentation>Transfer of an administrative entity into a different parent entity.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:GazetteOperationBase">
        <xs:attribute name="oldgeocode" type="xs:unsignedInt" use="optional">
          <xs:annotation>
            <xs:documentation>Geocode of the entity before it was transferred.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="newowner" type="xs:unsignedInt" use="optional">
          <xs:annotation>
            <xs:documentation>Geocode of the entity into which the transferred unit was included.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="newownername" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>Name of the entity into which the transferred unit was included. Used especially when no geocode could be provided.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="newownerenglish" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>English name of the entity into which the transferred unit was included.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="muban" type="xs:unsignedInt" use="optional">
          <xs:annotation>
            <xs:documentation>Muban number after the transfer. Only applicable when Muban are transferred.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="oldowner" type="xs:unsignedInt" use="optional">
          <xs:annotation>
            <xs:documentation>Geocode of the entity from which the transferred unit was removed.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="oldownername" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>Name of the entity from which the transferred unit was removed. Used especially when no geocode could be provided.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="oldmuban" type="xs:unsignedInt" use="optional">
          <xs:annotation>
            <xs:documentation>Muban number before the transfer. Only applicable when Muban are transferred.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="oldparent" type="xs:unsignedInt" use="optional">
          <xs:annotation>
            <xs:documentation>Geocode of the district which was previously overseeing the minor district. Only applicable for minor districts.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='GazetteRenumber'>
    <xs:annotation>
      <xs:documentation>Change of the number of a Muban.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:GazetteOperationBase">
        <xs:attribute name="oldgeocode" type="xs:unsignedInt" use="optional">
          <xs:annotation>
            <xs:documentation>Geocode before the renumber.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='GazetteAreaChange'>
    <xs:annotation>
      <xs:documentation>Change of area of a administrative entity.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:GazetteOperationBase">
        <xs:attribute name="oldarea" type="xs:float" use="optional">
          <xs:annotation>
            <xs:documentation>Old area in square kilometer.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="newarea" type="xs:float" use="optional">
          <xs:annotation>
            <xs:documentation>New area in square kilometer.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='GazetteAreaDefinition'>
    <xs:annotation>
      <xs:documentation>Definition of the boundaries of an administrative entity.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:GazetteOperationBase">
        <xs:attribute name="subdivisions" type="xs:int" use="optional">
          <xs:annotation>
            <xs:documentation>Number of subdivisions listed.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="subdivisiontype" type="t:EntityType" use="optional">
          <xs:annotation>
            <xs:documentation>Type of subdivisions listed (usually Muban).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='GazetteStatusChange'>
    <xs:annotation>
      <xs:documentation>Change of the type of the administrative entitiy.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:GazetteOperationBase">
        <xs:attribute name="old" type="t:EntityType" use="required">
          <xs:annotation>
            <xs:documentation>Previous type.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="new" type="t:EntityType" use="required">
          <xs:annotation>
            <xs:documentation>New type.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='GazetteRename'>
    <xs:annotation>
      <xs:documentation>Change of name of an administrative entity.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:GazetteOperationBase">
        <xs:attribute name="oldname" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>Old name in Thai.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="oldenglish" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>Romanized old name.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <!--<xs:attribute name="name" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>New name in Thai.</xs:documentation>
          </xs:annotation>
        </xs:attribute>-->
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='GazetteAbolish'>
    <xs:complexContent>
      <xs:extension base="t:GazetteOperationBase">
        <xs:attribute name="ownerenglish" type="xs:string" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='GazetteCreate'>
    <xs:complexContent>
      <xs:extension base="t:GazetteOperationBase">
        <xs:attribute name="oldowner" type="xs:unsignedInt" use="optional" />
        <!--<xs:attribute name="type" type="t:EntityType" use="required" />-->
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GazetteInterpellation">
    <xs:complexContent>
      <xs:extension base='t:EntryActionList'>

        <xs:attribute name="author" type="xs:string" use="optional" />
        <xs:attribute name="number" type="xs:integer" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='GazetteCapital'>
    <xs:complexContent>
      <xs:extension base="t:GazetteOperationBase">
        <xs:attribute name="capitalname" type="xs:string" use="required" />
        <xs:attribute name="capitalenglish" type="xs:string" use="optional" />
        <xs:attribute name="capitaltype" type="t:EntityType" use="optional" />
        <xs:attribute name="capitalgeocode" type="xs:unsignedInt" use="optional" />
        <xs:attribute name="oldcapitalname" type="xs:string" use="optional" />
        <xs:attribute name="oldcapitalenglish" type="xs:string" use="optional" />
        <xs:attribute name="oldcapitalgeocode" type="xs:unsignedInt" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GazetteOfficial">
    <xs:complexContent>
      <xs:extension base="t:GazetteOperationBase">
        <xs:attribute name="officialname" type="xs:string" use="required" />
        <xs:attribute name="officialtype" type="t:OfficialType" use="required" />
        <xs:attribute name="action" type="t:OfficialAction" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GazetteCouncilSize">
    <xs:complexContent>
      <xs:extension base="t:GazetteOperationBase">
        <!--<xs:attribute name="type" type="t:EntityType" use="required" />-->
        <xs:attribute type="xs:positiveInteger" name="size" use="required">
          <xs:annotation>
            <xs:documentation>Number of councilors in the council.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GazetteElectionResult">
    <xs:complexContent>
      <xs:extension base="t:GazetteOperationBase">
        <xs:attribute name="electionType" type="t:ElectionType" use="required" />
        <xs:attribute name="date" type="xs:date" use="required" />
        <xs:attribute name="constituency" type="xs:integer" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="GazetteMention">
    <xs:complexContent>
      <xs:extension base="t:GazetteOperationBase" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GazetteConstituency">
    <xs:complexContent>
      <xs:extension base="t:GazetteOperationBase">
        <xs:sequence>
          <xs:element name="constituencies" type="t:ConstituencyListBase" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GazetteParkCreate">
    <xs:complexContent>
      <xs:extension base="t:GazetteParkBase" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GazetteParkAreaChange">
    <xs:complexContent>
      <xs:extension base="t:GazetteParkBase" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GazetteParkAbolish">
    <xs:complexContent>
      <xs:extension base="t:GazetteParkBase" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GazetteRelated">
    <xs:complexContent>
      <xs:extension base="t:GazetteReferenceBase" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GazetteCorrection">
    <xs:complexContent>
      <xs:extension base="t:GazetteReferenceBase">
        <xs:group ref='t:EntryAction' minOccurs='0' maxOccurs='1' />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:group name="EntryAction">
    <xs:choice>
      <xs:element name="reassign" type="t:GazetteReassign" />
      <xs:element name="status" type="t:GazetteStatusChange" />
      <xs:element name="rename" type="t:GazetteRename" />
      <xs:element name="abolish" type="t:GazetteAbolish" />
      <xs:element name="areachange" type="t:GazetteAreaChange" />
      <xs:element name="areadefinition" type="t:GazetteAreaDefinition" />
      <xs:element name="create" type="t:GazetteCreate" />
      <xs:element name="mention" type="t:GazetteMention" />
      <xs:element name="constituency" type="t:GazetteConstituency" />
      <xs:element name="councilsize" type="t:GazetteCouncilSize" />
      <xs:element name="electionresult" type="t:GazetteElectionResult" />
      <xs:element name="capital" type="t:GazetteCapital" />
      <xs:element name="official" type="t:GazetteOfficial" />
      <xs:element name="correction" type="t:GazetteCorrection" />
      <xs:element name="renumber" type="t:GazetteRenumber" />
      <xs:element name="related" type="t:GazetteRelated" />

      <xs:element name="createpark" type="t:GazetteParkCreate" />
      <xs:element name="abolishpark" type="t:GazetteParkAbolish" />
      <!--      <xs:element name="renamepark" type="GazettePark" /> -->
      <xs:element name="areachangepark" type="t:GazetteParkAreaChange" />
      <xs:element name="interpellation" type="t:GazetteInterpellation" />

      <xs:element name="meetingreference" type="t:MeetingReference" />
      <xs:element name="ministerialorder" type="t:MinisterialOrder" />
    </xs:choice>
  </xs:group>
  <xs:complexType name="EntryActionList">
    <xs:annotation>
      <xs:documentation>List of gazette entries.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group ref='t:EntryAction' minOccurs='0' maxOccurs='unbounded' />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name='GazetteEntry'>
    <xs:complexContent>
      <xs:extension base='t:EntryActionList'>
        <xs:attribute name="description" type="xs:string" use="optional" />
        <xs:attribute name="title" type="xs:string" use="required" />
        <xs:attribute name="volume" type="xs:unsignedByte" use="required" />
        <xs:attribute name="page" type="xs:string" use="required" />
        <xs:attribute name="issue" type="xs:string" use="required" />
        <xs:attribute name="uri" type="xs:string" use="required" />
        <xs:attribute name="publication" type="xs:date" use="required" />
        <xs:attribute name="effectiveafter" type="xs:unsignedByte" use="optional" />
        <xs:attribute name="sign" type="xs:date" use="optional" />
        <xs:attribute name="effective" type="xs:date" use="optional" />
        <xs:attribute name="subtitle" type="xs:string" use="optional" />
        <xs:attribute name="signedby" type="xs:string" use="optional" />
        <xs:attribute name="signedbyfunction" type="t:SignByFunction" use="optional" />
        <xs:attribute name="countersignedby" type="xs:string" use="optional" />
        <xs:attribute name="countersignedbyfunction" type="t:SignByFunction" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='GazetteList'>
    <xs:sequence>
      <xs:element name="entry" minOccurs="0" maxOccurs="unbounded" type="t:GazetteEntry">
        <xs:annotation>
          <xs:documentation>Gazette announcements.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GazetteListMonth">
    <xs:complexContent>
      <xs:extension base="t:GazetteList">
        <xs:attribute name="value" type="xs:string" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GazetteListYear">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="12" name="month" type="t:GazetteListMonth" />
      <xs:element name="entry" minOccurs="0" maxOccurs="unbounded" type="t:GazetteEntry">
        <xs:annotation>
          <xs:documentation>Gazette announcements.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="value" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="GazetteListDecade">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="10" name="year" type="t:GazetteListYear" />
      <xs:element name="entry" minOccurs="0" maxOccurs="unbounded" type="t:GazetteEntry">
        <xs:annotation>
          <xs:documentation>Gazette announcements.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="value" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="GazetteListFull">
    <xs:sequence>
      <xs:element name="decade" minOccurs="0" maxOccurs="unbounded" type="t:GazetteListDecade">
        <xs:annotation>
          <xs:documentation>Entries sorted by decades.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="year" minOccurs="0" maxOccurs="unbounded" type="t:GazetteListYear">
        <xs:annotation>
          <xs:documentation>Entries sorted by years.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="entry" minOccurs="0" maxOccurs="unbounded" type="t:GazetteEntry">
        <xs:annotation>
          <xs:documentation>Gazette announcements.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="gazette" type="t:GazetteListFull" />
</xs:schema>