DataModel/geocode.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#"
  xmlns:t="http://hoerstemeier.com/tambon/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://hoerstemeier.com/tambon/"
  attributeFormDefault="unqualified" elementFormDefault="qualified">

  <xs:import namespace="http://www.w3.org/2003/01/geo/wgs84_pos#" schemaLocation="geopoint.xsd" />
  <xs:include schemaLocation="office.xsd" />
  <xs:include schemaLocation="basictypes.xsd" />
  <xs:include schemaLocation="populationdata.xsd" />
  <xs:include schemaLocation="gazette.xsd" />
  <xs:include schemaLocation="history.xsd" />
  <xs:include schemaLocation="park.xsd" />
  <xs:include schemaLocation="identifier.xsd" />

  <xs:simpleType name="AreaUnit">
    <xs:annotation>
      <xs:documentation>Unit in which an area value was given.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="km²">
        <xs:annotation>
          <xs:documentation>Square kilometer.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="rai">
        <xs:annotation>
          <xs:documentation>Rai (ไร่), equals 1600 m².</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Direction">
    <xs:annotation>
      <xs:documentation>Cardinal direction.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="undefined">
        <xs:annotation>
          <xs:documentation>Direction isn't set.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="north">
        <xs:annotation>
          <xs:documentation>Northern direction.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="south">
        <xs:annotation>
          <xs:documentation>Southern direction.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="west">
        <xs:annotation>
          <xs:documentation>Western direction.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="east">
        <xs:annotation>
          <xs:documentation>Eastern direction.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="northwest">
        <xs:annotation>
          <xs:documentation>Northwestern direction.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="northeast">
        <xs:annotation>
          <xs:documentation>Northeastern direction.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="southwest">
        <xs:annotation>
          <xs:documentation>Southwestern direction.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="southeast">
        <xs:annotation>
          <xs:documentation>Southeastern direction.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="enclosed">
        <xs:annotation>
          <xs:documentation>Completely encircled.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Direction cannot be defined.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Directions">
    <xs:annotation>
      <xs:documentation>List of directions.</xs:documentation>
    </xs:annotation>
    <xs:list itemType="t:Direction"></xs:list>
  </xs:simpleType>

  <xs:simpleType name="BoundaryType">
    <xs:annotation>
      <xs:documentation>Type of boundary.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="land">
        <xs:annotation>
          <xs:documentation>Plain land boundary (includes natural boundaries by rivers).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sea">
        <xs:annotation>
          <xs:documentation>Boundary through a small body of sea water.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="point">
        <xs:annotation>
          <xs:documentation>Entities only connecting at one point, boundary has a length of 0.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AreaData">
    <xs:annotation>
      <xs:documentation>Area covered by the entity.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reference" type="t:ReferenceList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Source(s) for the area value.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="value" type="xs:decimal" use="required">
      <xs:annotation>
        <xs:documentation>Area value.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="unit" type="t:AreaUnit" use="required">
      <xs:annotation>
        <xs:documentation>Unit in which value is given.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="date" type="xs:gYear" use="optional">
      <xs:annotation>
        <xs:documentation>Year in which the data was valid.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="invalid" type="xs:boolean" use="optional" default="false">
      <xs:annotation>
        <xs:documentation>Value is wrong, though given as such in source.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="t:Comment" />
  </xs:complexType>
  <xs:complexType name="UtmPoint">
    <xs:annotation>
      <xs:documentation>Geographic point in the Thai UTM encoding.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attributeGroup ref="t:Comment" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BoundingData">
    <xs:annotation>
      <xs:documentation>Neighboring entity at same administrative rank.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="point" type="t:UtmPoint" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Points of the boundary as listed in the corresponding Royal Gazette announcement, in Thai UTM notation.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="geocode" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Geocode of neighboring entity.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="direction" type="t:Directions" use="optional">
      <xs:annotation>
        <xs:documentation>Direction in which the units borders, as seen from the entity in which this tag is located.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" type="t:BoundaryType" default="land" use="optional">
      <xs:annotation>
        <xs:documentation>Kind of boundary.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="t:Comment" />
  </xs:complexType>
  <xs:complexType name="Area">
    <xs:annotation>
      <xs:documentation>Area and bounding entities.</xs:documentation>
    </xs:annotation>
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element minOccurs="0" maxOccurs="unbounded" name="area" type="t:AreaData">
        <xs:annotation>
          <xs:documentation>Data points for the area.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="bounding" type="t:BoundingData">
        <xs:annotation>
          <xs:documentation>Neighboring entities at the same administrative rank.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EntityCountType">
    <xs:attributeGroup ref="t:Comment" />
    <xs:attribute name="type" type="t:EntityType" use="required" />
    <xs:attribute name="count" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>Number of entities of the given type.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="EntityCount">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element minOccurs="1" maxOccurs="unbounded" name="entry" type="t:EntityCountType" />
      <xs:element name="reference" type="t:ReferenceList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Sources for the numbers.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="year" type="xs:gYear" use="required">
      <xs:annotation>
        <xs:documentation>Reference year.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="t:Comment" />
  </xs:complexType>
  <xs:simpleType name="PostalCodeList">
    <xs:list itemType="xs:unsignedInt"></xs:list>
  </xs:simpleType>
  <xs:complexType name="PostalCodeBase">
    <xs:annotation>
      <xs:documentation>Postal code(s).</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="t:Comment" />
    <xs:attribute name="value" type="t:PostalCodeList" use="required">
      <xs:annotation>
        <xs:documentation>List of postal codes.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PostalCodeOldValue">
    <xs:annotation>
      <xs:documentation>Retired value of an identifier.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:PostalCodeBase">
        <xs:attribute name="retired" type="xs:date" use="optional">
          <xs:annotation>
            <xs:documentation>Date of when the new code was issued and thus this code was retired.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PostalCode">
    <xs:annotation>
      <xs:documentation>Postal code(s).</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:PostalCodeBase">
        <xs:sequence>
          <xs:element name="oldvalue" type="t:PostalCodeOldValue" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Former postcodes with information on when and how they were retired.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OtherIdentifier">
    <xs:annotation>
      <xs:documentation>Unique identifiers additional to the geocode and the wiki ids.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="post" type="t:PostalCode" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Postal code(s).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasc" type="t:Identifier" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Hierarchical administrative subdivision code (HASC), defined by Gwillim Law in his book and at http://statoids.com.
            Format is TH.XX for provinces and TH.XX.YY for districts.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="iso3166" type="t:Identifier" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            ISO 3166-2 code, only applicable for provinces, and the municipality of Pattaya. Format is TH-##.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fips10" type="t:Identifier" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            FIPS 10 codes. Format is TH##.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="salb" type="t:Identifier" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Second Administrative Level Boundaries. Format is THA### for provinces and THA###### for districts.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="getty" type="t:Identifier" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Getty Thesaurus of Geographic Names (TGN). Url in catalog for TGN 123 is http://www.getty.edu/vow/TGNFullDisplay?find=&amp;place=&amp;nation=&amp;english=Y&amp;subjectid=123.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="gnd" type="t:Identifier" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Integrated Authority File (from German: Gemeinsame Normdatei). Url in catalog for GND 123 is http://d-nb.info/gnd/123
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="gns-ufi" type="t:Identifier" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            GEONet Name Server - Unique Feature Identifier.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="woeid" type="t:Identifier" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            Where On Earth ID (WOEID). Value is 32bit integer. Url in catalog for WOEID 123 is https://www.flickr.com/places/info/123
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Entity">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element minOccurs="0" maxOccurs="1" name="wiki" type="t:WikiLocation">
        <xs:annotation>
          <xs:documentation>Links to wiki pages.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="codes" type="t:OtherIdentifier">
        <xs:annotation>
          <xs:documentation>Unique identifiers, other geocode systems or catalog ids.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="symbols" type="t:Symbols">
        <xs:annotation>
          <xs:documentation>Symbols, slogans and vision statements of the entity.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="office" type="t:Office">
        <xs:annotation>
          <xs:documentation>Offices of the entity.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="area" type="t:Area">
        <xs:annotation>
          <xs:documentation>Area information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="history" type="t:HistoryList">
        <xs:annotation>
          <xs:documentation>List of events concerning the entity.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="population" type="t:PopulationData">
        <xs:annotation>
          <xs:documentation>Population data.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="entity" type="t:Entity">
        <xs:unique name="UniqueGeocode">
          <xs:annotation>
            <xs:documentation>Making sure that every geocode is only used once.</xs:documentation>
          </xs:annotation>
          <xs:selector xpath="t:entity" />
          <xs:field xpath="@geocode" />
        </xs:unique>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="entitycount" type="t:EntityCount">
        <xs:annotation>
          <xs:documentation>Numbers of subentities.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="park" type="t:Park">
        <xs:annotation>
          <xs:documentation>Protected areas within the entity.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="type" type="t:EntityType" use="required" />
    <xs:attributeGroup ref="t:ThaiNameMandatory" />
    <xs:attribute name="geocode" type="xs:unsignedInt" use="required">
      <xs:annotation>
        <xs:documentation>TIS1099 code of the entity.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <!--have to find better way for this-->
    <xs:attribute name="newgeocode" type="t:GeocodeList" use="optional">
      <xs:annotation>
        <xs:documentation>New geocodes of the entity. Implies that the entity is obsolete.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="obsolete" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Indication for entities no longer active.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="parent" type="t:GeocodeList" use="optional">
      <xs:annotation>
        <xs:documentation>For KingAmphoe: The Amphoe which is responsible for supervision; for Thesaban: the Amphoe(s) which are covered by the entity.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="t:Comment" />
    <xs:attribute name="tambon" type="xs:unsignedInt" use="optional">
      <xs:annotation>
        <xs:documentation>Reference to the corresponding tambon. Only for municipalities which were a TAO.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="muban" type="t:GeocodeList" use="optional">
      <xs:annotation>
        <xs:documentation>Corresponding Muban. Only for Chumchon. Might be more than one if Chumchon boundary don't coincide with Muban boundary.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:element name="entity" type="t:Entity">
  </xs:element>
</xs:schema>