DataModel/history.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#"
  xmlns:t="http://hoerstemeier.com/tambon/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://hoerstemeier.com/tambon/"
  attributeFormDefault="unqualified" elementFormDefault="qualified">

  <xs:include schemaLocation="basictypes.xsd" />
  <xs:complexType name="HistoryEntryBase" abstract="1">
    <xs:complexContent>
      <xs:extension base="t:ReferenceList">
        <xs:attribute name="effective" type="xs:date" use="optional">
          <xs:annotation>
            <xs:documentation>Date the change became officially effective.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="status" type="t:ChangeStatus" use="optional" default="Done">
          <xs:annotation>
            <xs:documentation>State of the change.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attributeGroup ref="t:Comment" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HistoryStatus">
    <xs:complexContent>
      <xs:extension base="t:HistoryEntryBase">
        <xs:attribute name="old" type="t:EntityType" use="required">
          <xs:annotation>
            <xs:documentation>Original type of the entity.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="new" type="t:EntityType" use="required">
          <xs:annotation>
            <xs:documentation>Type of the entity after the change.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HistoryRename">
    <xs:complexContent>
      <xs:extension base="t:HistoryEntryBase">
        <xs:attributeGroup ref="t:ThaiNameMandatory" />
        <xs:attribute name="oldname" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>Previous name in Thai script..</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="oldenglish" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>Romanization of old name.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="oldipa" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>Pronunciation of old name in IPA.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HistorySpellingBase" abstract="1">
    <xs:complexContent>
      <xs:extension base="t:HistoryEntryBase">
        <xs:attribute name="name" type="xs:string" use="required">
          <xs:annotation>
            <xs:documentation>Name or spelling of name a given time.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HistorySpelling">
    <xs:complexContent>
      <xs:extension base="t:HistorySpellingBase" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HistoryReformSpelling">
    <xs:annotation>
      <xs:documentation>Alternative spelling during the Thai spelling reform 1942-1945.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:HistorySpellingBase" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HistoryAlternativeName">
    <xs:annotation>
      <xs:documentation>Alternative name or spelling, which is more than a plain misspelling.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:HistorySpellingBase">
        <xs:attribute name="english" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>Romanization of name.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="year" type="xs:gYear" use="optional">
          <xs:annotation>
            <xs:documentation>Year in which the alternative name was apparently used.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HistoryCreate">
    <xs:annotation>
      <xs:documentation>Entity was created.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:HistoryEntryBase">
        <xs:attribute name="type" type="t:EntityType" use="required">
          <xs:annotation>
            <xs:documentation>Type of the entity.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="splitfrom" type="t:GeocodeList" use="optional">
          <xs:annotation>
            <xs:documentation>Geocode(s) of the entities from which the new entity was split off.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="parent" type="xs:unsignedInt" use="optional">
          <xs:annotation>
            <xs:documentation>Geocode of the parent entity (only for King Amphoe). Usually same as the one split from.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attributeGroup ref="t:Subdivisions" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HistoryAreaChange">
    <xs:annotation>
      <xs:documentation>Area covered by the entity was changed.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:HistoryEntryBase">
        <xs:attribute name="type" type="t:EntityType" use="optional">
          <xs:annotation>
            <xs:documentation>Type of the entity.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="oldarea" type="xs:double" use="optional">
          <xs:annotation>
            <xs:documentation>Area before the change in km².</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="newarea" type="xs:double" use="optional">
          <xs:annotation>
            <xs:documentation>Area after the change in km².</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="changewith" type="t:GeocodeList" use="optional">
          <xs:annotation>
            <xs:documentation>Entities with which area was exchanged.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HistoryReassignBase" abstract="1">
    <xs:annotation>
      <xs:documentation>Parent entity changed.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:HistoryEntryBase">
        <xs:attribute name="type" type="t:EntityType" use="optional">
          <xs:annotation>
            <xs:documentation>Type of the entity.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="oldparent" type="xs:unsignedInt" use="required">
          <xs:annotation>
            <xs:documentation>Geocode of the previous parent entity.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="newparent" type="xs:unsignedInt" use="required">
          <xs:annotation>
            <xs:documentation>Geocode of the new parent entity.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="oldgeocode" type="xs:unsignedInt" use="optional">
          <xs:annotation>
            <xs:documentation>Geocode before the reassign.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HistoryReassign">
    <xs:annotation>
      <xs:documentation>Parent entity changed.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:HistoryReassignBase" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HistoryParentChange">
    <xs:annotation>
      <xs:documentation>Overseeing entity changed (only for King Amphoe).</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:HistoryReassignBase" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HistoryAbolish">
    <xs:annotation>
      <xs:documentation>Entity was dissolved.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:HistoryEntryBase">
        <xs:attribute name="type" type="t:EntityType" use="required">
          <xs:annotation>
            <xs:documentation>Type of the entity.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="mergeto" type="t:GeocodeList" use="optional">
          <xs:annotation>
            <xs:documentation>Geocode(s) of the entities which took over the area.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HistoryMergedWith">
    <xs:annotation>
      <xs:documentation>Entity was enlarged by taking over responsibility from dissolved entities.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:HistoryAreaChange">
        <xs:attribute name="mergefromtype" type="t:EntityType" use="required">
          <xs:annotation>
            <xs:documentation>Type of the entity merged with.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="mergefrom" type="t:GeocodeList" use="optional">
          <xs:annotation>
            <xs:documentation>Geocode(s) of the entities which was added to the area.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HistoryParkBase" abstract="1">
    <xs:annotation>
      <xs:documentation>Protected area history base type.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:HistoryEntryBase">
        <xs:attribute name="type" type="t:ParkType" use="required">
          <xs:annotation>
            <xs:documentation>Type of the protected area.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HistoryCreatePark">
    <xs:annotation>
      <xs:documentation>Protected area creation.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:HistoryParkBase" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HistoryAbolishPark">
    <xs:annotation>
      <xs:documentation>Protected area cancellation.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:HistoryParkBase" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HistoryAreaChangePark">
    <xs:annotation>
      <xs:documentation>Protected area area change.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:HistoryParkBase">
        <xs:attribute name="oldarea" type="xs:double" use="optional">
          <xs:annotation>
            <xs:documentation>Area before the change in km².</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="newarea" type="xs:double" use="optional">
          <xs:annotation>
            <xs:documentation>Area after the change in km².</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:group name="HistoryEntry">
    <xs:annotation>
      <xs:documentation>Entry in the list of historical changes.</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="rename" type="t:HistoryRename" />
      <xs:element name="statuschange" type="t:HistoryStatus" />
      <xs:element name="create" type="t:HistoryCreate" />
      <xs:element name="abolished" type="t:HistoryAbolish" />
      <xs:element name="misspelling" type="t:HistorySpelling" />
      <xs:element name="reformedspelling" type="t:HistoryReformSpelling" />
      <xs:element name="alternativename" type="t:HistoryAlternativeName" />
      <xs:element name="mergedwith" type="t:HistoryMergedWith" />
      <xs:element name="areachange" type="t:HistoryAreaChange" />
      <xs:element name="reassign" type="t:HistoryReassign" />
      <xs:element name="createpark" type="t:HistoryCreatePark" />
      <xs:element name="abolishpark" type="t:HistoryAbolishPark" />
      <xs:element name="areachangepark" type="t:HistoryAreaChangePark" />
      <xs:element name="parentchange" type="t:HistoryParentChange">
        <xs:annotation>
          <xs:documentation>Parent change (only for King Amphoe).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:group>
  <xs:complexType name="HistoryList">
    <xs:annotation>
      <xs:documentation>List of historical changes.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group ref='t:HistoryEntry' minOccurs='1' maxOccurs='unbounded' />
    </xs:sequence>
  </xs:complexType>
</xs:schema>