DataModel/office.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
  xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#" 
  xmlns:t="http://hoerstemeier.com/tambon/" 
  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  targetNamespace="http://hoerstemeier.com/tambon/"
  attributeFormDefault="unqualified" elementFormDefault="qualified" >
  <xs:import namespace="http://www.w3.org/2003/01/geo/wgs84_pos#" schemaLocation="geopoint.xsd"/>

  <xs:simpleType name="OfficialType">
    <xs:annotation>
      <xs:documentation>Types of leaders or deputy leaders for the administrative entities.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Governor">
        <xs:annotation>
          <xs:documentation>Province governor (ผู้ว่าราชการจังหวัด, Phu Wa Rachakan Changwat).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BangkokGovernor">
        <xs:annotation>
          <xs:documentation>Governor of Bangkok (ผู้ว่าราชการกรุงเทพมหานคร, Phu Wa Rachakan Krung Thep Maha Nakhon).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ViceGovernor">
        <xs:annotation>
          <xs:documentation>Vice province governor (รองผู้ว่าราชการจังหวัด, Rong Phu Wachakan Changwat).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DistrictOfficer">
        <xs:annotation>
          <xs:documentation>District (head) officer (นายอำเภอ, Nai Amphoe).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MinorDistrictOfficer">
        <xs:annotation>
          <xs:documentation>Minor District (head) officer (หัวหน้ากิ่งอำเภอ, Hua Na King Amphoe).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DistrictOfficerBangkok">
        <xs:annotation>
          <xs:documentation>District officer in Bangkok (ผู้อำนวยการเขต, Phu Amnuai Kan Khet).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DeputyDistrictOfficerBangkok">
        <xs:annotation>
          <xs:documentation>Deputy district officer in Bangkok (ผู้ช่วยผู้อำนวยการเขต, Phu Chuai Amnuai Kan Khet).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Kamnan">
        <xs:annotation>
          <xs:documentation>Subdistrict headman (กำนัน, Kamnan), leader of Tambon.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PhuYaiBan">
        <xs:annotation>
          <xs:documentation>Village headman (ผู้ใหญ่บ้าน, Phu Yai Ban), leader of Muban.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PAOChairman">
        <xs:annotation>
          <xs:documentation>PAO chairman (นายกองค์การบริหารส่วนจังหวัด, Nayok Ongganborihansuan Changwat), directly elected.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Mayor">
        <xs:annotation>
          <xs:documentation>Mayor (นายกเทศมนตรี, Nayok Thesamontri), leader of Thesaban.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TAOMayor">
        <xs:annotation>
          <xs:documentation>Mayor of TAO (นายกองค์การบริหารส่วนตำบล, Nayok Ongganborihansuan Tambon), directly elected.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TAOChairman">
        <xs:annotation>
          <xs:documentation>Chairman of TAO (ประธานกรรมการบริหารองค์การบริหารส่วนตำบล, Prathan Kromganborihansuan Tambon), chosen by council.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SanitaryDistrictChairman">
        <xs:annotation>
          <xs:documentation>Sanitary district chairman (ประธานกรรมการสุขาภิบาล, Prathan Kromgan Sukhaphiban).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ChumchonChairman">
        <xs:annotation>
          <xs:documentation>Borough headman (ประธานชุมชน, Prathan Chumchon).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OfficeType">
    <xs:annotation>
      <xs:documentation>Office types for the administrative entities.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="ProvinceHall">
        <xs:annotation>
          <xs:documentation>Province hall (ศาลากลางจังหวัด , Sala Klang Changwat)</xs:documentation>
        </xs:annotation></xs:enumeration>
      <xs:enumeration value="PAOOffice">
        <xs:annotation>
          <xs:documentation>PAO office (สำนักงานองค์การบริหารส่วนจังหวัด).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DistrictOffice">
        <xs:annotation>
          <xs:documentation>District office (ที่ว่าการอำเภอ, Thi Wa Kan Amphoe; สำนักงานเขต Sam Nak Ngan Khet).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MunicipalityOffice">
        <xs:annotation>
          <xs:documentation>Municipality office (สำนักงานเทศบาล, Sam Nak Ngan Thesaban).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TAOOffice">
        <xs:annotation>
          <xs:documentation>TAO office (สำนักงานองค์การบริหารส่วนตำบล or ที่ว่าการองค์การบริหารส่วนตำบล).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VillageHeadmanOffice"/>
      <xs:enumeration value="ChumchonOffice"/>
      <xs:enumeration value="SubdistrictHeadmanOffice"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="OfficialEntry">
    <xs:attribute name="title" type="t:OfficialType" use="required">
      <xs:annotation>
        <xs:documentation>Type of official.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="index" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>Running number, if known.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Name in Thai script, not including titles.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="english" type="xs:string" use="optional" >
      <xs:annotation>
        <xs:documentation>Transcription of name to English.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="begin" type="xs:date" use="optional" >
      <xs:annotation>
        <xs:documentation>Begin of term.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="endyear" type="xs:integer" use="optional">
      <xs:annotation>
        <xs:documentation>End of term.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="beginyear" type="xs:integer" use="optional" >
      <xs:annotation>
        <xs:documentation>Begin of term.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="end" type="xs:date" use="optional">
      <xs:annotation>
        <xs:documentation>End of term.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="acting" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Acting or fully installed office leader.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="comment" type="xs:string" use="optional" >
      <xs:annotation>
        <xs:documentation>Comments for information not covered in the formal fields.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name='OfficialList'>
    <xs:annotation>
      <xs:documentation>List of leaders of the administrative entity.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="official" minOccurs="0" maxOccurs="unbounded" type="t:OfficialEntry"/>
    </xs:sequence>
    <xs:attribute name="source" type="xs:string" use="optional" >
      <xs:annotation>
        <xs:documentation>Source of the main part of the list.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:simpleType name="MyUriStatus">
    <xs:annotation>
      <xs:documentation>Status of a web link.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:documentation>Status unknown.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="online">
        <xs:annotation>
          <xs:documentation>Website up and running.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="offline">
        <xs:annotation>
          <xs:documentation>Website unreachable due to server problems.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="obsolete">
        <xs:annotation>
          <xs:documentation>Discontinued but still online website.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="expired">
        <xs:annotation>
          <xs:documentation>Domain registration has expired.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MyUri">
    <xs:annotation>
      <xs:documentation>URL with an optional comment and status.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:anyURI">
        <xs:attribute name="comment" type="xs:string" use="optional" >
          <xs:annotation>
            <xs:documentation>Plain text comment for information not covered in the formal fields.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="status" type="t:MyUriStatus" use="optional" default="unknown">
          <xs:annotation>
            <xs:documentation>Status of the web link.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="ThaiAddressVillage">
    <xs:annotation>
      <xs:documentation>Village (Muban) part of address.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="name" type="xs:string" use="optional" >
      <xs:annotation>
        <xs:documentation>Name of the village.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="number" type="xs:unsignedInt" use="required" >
      <xs:annotation>
        <xs:documentation>Number of the village.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ThaiAddressTambon">
    <xs:annotation>
      <xs:documentation>Subdistrict (Tambon/Khet) part of address.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="name" type="xs:string" use="required" >
      <xs:annotation>
        <xs:documentation>Name of subdistrict.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="geocode" type="xs:unsignedInt" use="required" >
      <xs:annotation>
        <xs:documentation>Geocode of district.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ThaiAddress">
    <xs:annotation>
      <xs:documentation>Address in Thailand</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="village" minOccurs="0" type="t:ThaiAddressVillage">
        <xs:annotation>
          <xs:documentation>Village part of address.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="plot" minOccurs="0" type="xs:string">
        <xs:annotation>
          <xs:documentation>Plot number/identifier.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tambon" minOccurs="0" type="t:ThaiAddressTambon">
        <xs:annotation>
          <xs:documentation>Subdistrict part of address.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="street" minOccurs="0" type="xs:string">
        <xs:annotation>
          <xs:documentation>Street name and number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="postcode" minOccurs="0" type="xs:unsignedInt">
        <xs:annotation>
          <xs:documentation>Postal code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OldLocation">
    <xs:annotation>
      <xs:documentation>List of former locations of the office.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" ref="geo:Point" />
      <xs:element minOccurs="0" name="address" type="t:ThaiAddress"/>
    </xs:sequence>
    <xs:attribute name="end" type="xs:date" use="optional" >
      <xs:annotation>
        <xs:documentation>Date the office was closed at that location.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="comment" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:complexType name='Office'>
    <xs:sequence>
      <xs:element minOccurs="0" ref="geo:Point" />
      <xs:element minOccurs="0" name="address" type="t:ThaiAddress"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="url" type="t:MyUri"/>
      <xs:element minOccurs="0" maxOccurs="1" name="officials" type="t:OfficialList"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="oldlocations" type="t:OldLocation"/>
    </xs:sequence>
    <xs:attribute name="type" type="t:OfficeType" use="required" >
      <xs:annotation>
        <xs:documentation>Office type of the administrative entity.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="obsolete" type="xs:boolean" use="optional" >
      <xs:annotation>
        <xs:documentation>Office of an administrative entity no longer existing.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="comment" type="xs:string" use="optional" />
  </xs:complexType>
  
</xs:schema>