DataModel/PopulationData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#"
  xmlns:t="http://hoerstemeier.com/tambon/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://hoerstemeier.com/tambon/"
  attributeFormDefault="unqualified" elementFormDefault="qualified">

  <xs:include schemaLocation="basictypes.xsd" />

  <xs:simpleType name="PopulationDataSourceType">
    <xs:annotation>
      <xs:documentation>Sources of population data.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown">
        <xs:annotation>
          <xs:documentation>Actual source not know.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Census">
        <xs:annotation>
          <xs:documentation>Official population census.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DOPA">
        <xs:annotation>
          <xs:documentation>Registration data.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PopulationDataType">
    <xs:annotation>
      <xs:documentation>Type of population data.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="undefined">
        <xs:annotation>
          <xs:documentation>Not defined.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="total">
        <xs:annotation>
          <xs:documentation>Total population.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="municipal">
        <xs:annotation>
          <xs:documentation>Municipal population, i.e. population within Thesaban (ในเขตเทศบาล).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="nonmunicipal">
        <xs:annotation>
          <xs:documentation>Non-municipal population, i.e. population outside the Thesaban (นอกเขตเทศบาล).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sanitary">
        <xs:annotation>
          <xs:documentation>Population in sanitary districts.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="urbansanitary">
        <xs:annotation>
          <xs:documentation>Population in urban sanitary districts (เขตเทศบาลสุขาภิบาล-เขตเมือง), i.e. sanitary districts with more than 5000 citizen.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ruralsanitary">
        <xs:annotation>
          <xs:documentation>Population in rural sanitary districts (เขตเทศบาลสุขาภิบาล-เขตชนบท), i.e. sanitary districts with less than 5000 citizen.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="nonmunicipalsanitary">
        <xs:annotation>
          <xs:documentation>Non-municipal and non-sanitary population, i.e. population outside Thesaban and sanitary districts (นอกเขตเทศบาล-สุขาภิบาล).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="agricultural">
        <xs:annotation>
          <xs:documentation>Agricultural population. Exact definition differs.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="nonagricultural">
        <xs:annotation>
          <xs:documentation>Non-agricultural population, i.e. population having none or only little agricultural land.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="privatehouseholds">
        <xs:annotation>
          <xs:documentation>Private households.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="collectivehouseholds">
        <xs:annotation>
          <xs:documentation>Collective households, i.e. military barracks.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PopulationChangeType">
    <xs:annotation>
      <xs:documentation>Type of population change.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="birth">
        <xs:annotation>
          <xs:documentation>Birth (การเกิด).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="death">
        <xs:annotation>
          <xs:documentation>Death (การตาย).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="movein">
        <xs:annotation>
          <xs:documentation>Move into entity (การย้ายเข้า).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="moveout">
        <xs:annotation>
          <xs:documentation>Move out of entity (การย้ายออก).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="PopulationDataPoint">
    <xs:annotation>
      <xs:documentation>Population data point.</xs:documentation>
    </xs:annotation>
    <xs:attribute name="total" type="xs:int" default="0" use="optional">
      <xs:annotation>
        <xs:documentation>Total population.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="male" type="xs:int" default="0" use="optional">
      <xs:annotation>
        <xs:documentation>Male population.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="female" type="xs:int" default="0" use="optional">
      <xs:annotation>
        <xs:documentation>Female population.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="t:Comment" />
  </xs:complexType>
  <xs:complexType name="AgeTableEntry">
    <xs:annotation>
      <xs:documentation>Data point within the age table.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:PopulationDataPoint">
        <xs:attribute name="begin" type="xs:unsignedInt" use="required">
          <xs:annotation>
            <xs:documentation>Begin of age range.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="end" type="xs:unsignedInt" use="required">
          <xs:annotation>
            <xs:documentation>End of age range.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AgeTable">
    <xs:annotation>
      <xs:documentation>Population by age.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="age" type="t:AgeTableEntry" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Age table data points.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="unknown" type="t:PopulationDataPoint" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Data point for unknown age.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HouseholdDataPoint">
    <xs:annotation>
      <xs:documentation>Data point containing population data, age table and household data.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:PopulationDataPoint">
        <xs:sequence>
          <xs:element name="data" type="t:HouseholdDataPoint" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Data points.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="agetable" type="t:AgeTable" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Population by age.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="foreigner" type="t:PopulationDataPoint" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Foreign population (ประชากรที่มิใช่สัญชาติไทย).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="houseregister" type="t:PopulationDataPoint" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Listed in house register (ประชากรที่มีชื่ออยู่ในทะเบียนบ้านกลาง).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="moving" type="t:PopulationDataPoint" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>In process of moving at time of data (ประชากรที่อยู่ระหว่างการย้าย).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="type" type="t:PopulationDataType" use="optional" default="undefined">
          <xs:annotation>
            <xs:documentation>Data type.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="households" type="xs:int" default="0" use="optional">
          <xs:annotation>
            <xs:documentation>Number of households.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="geocode" type="t:GeocodeList" use="optional">
          <xs:annotation>
            <xs:documentation>Identifier of the entity. Used for municipal areas in case more than one municipality is within the parent entity.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PopulationData">
    <xs:annotation>
      <xs:documentation>Population data.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="data" type="t:HouseholdDataPoint" minOccurs="1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Population data points</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="register" type="t:RegisterData" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Registration data.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="reference" type="t:ReferenceList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>References for the population data.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="source" type="t:PopulationDataSourceType" default="Unknown" use="optional">
      <xs:annotation>
        <xs:documentation>Source of data.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="referencedate" type="xs:date" use="optional">
      <xs:annotation>
        <xs:documentation>Exact date of reference.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="year" type="xs:gYear" use="required">
      <xs:annotation>
        <xs:documentation>Year for which the data is given.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attributeGroup ref="t:Comment" />
  </xs:complexType>
  <xs:complexType name="PopulationChangeEntry">
    <xs:annotation>
      <xs:documentation>Population change.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:PopulationDataPoint">
        <xs:attribute name="type" type="t:PopulationChangeType" use="required">
          <xs:annotation>
            <xs:documentation>Type of change.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RegisterDataMisc">
    <xs:annotation>
      <xs:documentation>Miscellaneous registration data.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="t:PopulationDataPoint">
        <xs:attribute name="marriage" type="xs:unsignedInt" use="optional">
          <xs:annotation>
            <xs:documentation>Number of marriages registered (ทะเบียนสมรส).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="divorce" type="xs:unsignedInt" use="optional">
          <xs:annotation>
            <xs:documentation>Number of divorces registered (ทะเบียนหย่า).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="adoption" type="xs:unsignedInt" use="optional">
          <xs:annotation>
            <xs:documentation>Number of adoptions registered (ทะเบียนรับบุตรบุญธรรม).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="adoptiondissolution" type="xs:unsignedInt" use="optional">
          <xs:annotation>
            <xs:documentation>Number of dissolved adoptions registered (ทะเบียนเลิกรับบุตรบุญธรรม).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="childacknowledge" type="xs:unsignedInt" use="optional">
          <xs:annotation>
            <xs:documentation>Number of child acknowledgements registered (ทะเบียนรับรองบุตร).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="familystatus" type="xs:unsignedInt" use="optional">
          <xs:annotation>
            <xs:documentation>Number of family status changes registered (ทะเบียนบันทึกฐานะแห่งครอบครัว), i.e. family status changes done in other countries.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RegisterData">
    <xs:annotation>
      <xs:documentation>Registration data.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="change" type="t:PopulationChangeEntry" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Population change.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="register" type="t:RegisterDataMisc" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Miscellaneous registration data..</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="reference" type="t:ReferenceList" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>References for the population data.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="t:Comment" />
  </xs:complexType>
</xs:schema>