trunk/misc/Constituencies.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="EntityType">
    <!--Copy from Gazette.xsd - must be put into import file -->
    <xs:restriction base="xs:string">
      <xs:enumeration value="Changwat"/>
      <xs:enumeration value="Bangkok"/>
      <xs:enumeration value="Amphoe"/>
      <xs:enumeration value="Tambon"/>
      <xs:enumeration value="Khet"/>
      <xs:enumeration value="Khwaeng"/>
      <xs:enumeration value="Muban"/>
      <xs:enumeration value="ThesabanTambon"/>
      <xs:enumeration value="ThesabanMueang"/>
      <xs:enumeration value="ThesabanNakhon"/>
      
      <xs:enumeration value="Unknown"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Entity">
    <xs:sequence>
      <xs:element type="Entity" name="entity" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element type="ConstituencyList" name="constituencies" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="type" type="EntityType" use="optional" />
    <xs:attribute name="name" type="xs:string" use="optional" />
    <xs:attribute name="english" type="xs:string" use="optional" />
    <xs:attribute name="geocode" type="xs:unsignedInt" use="required" />
    <xs:attribute name="comment" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:complexType name="ConstituencyList">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="constituency" type="Constituency"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Constituency">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="entity" type="Entity"/>
    </xs:sequence>
    <xs:attribute name="index" type="xs:unsignedByte" use="required" />
    <xs:attribute name="MP" type="xs:unsignedByte" use="optional" default="1"/>
  </xs:complexType>
  <xs:element type="Entity" name="entity"/>
</xs:schema>