AHTambonData/Geocode/geocode.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- ToDo: Better scheme for renaming and reassignments -->
<xs:schema xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://www.w3.org/2003/01/geo/wgs84_pos#" schemaLocation="geocode_point.xsd"/>
  <xs:simpleType name="EntityType">
    <xs:annotation>
      <xs:documentation>Types of administrative entities.</xs:documentation>
    </xs:annotation>
    <!--Copy from Gazette.xsd - must be put into import file -->
    <xs:restriction base="xs:string">
      <xs:enumeration value="Changwat">
        <xs:annotation>
          <xs:documentation>Province (จังหวัด, changwat).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Bangkok">
        <xs:annotation>
          <xs:documentation>Special administrative unit of Krung Thep (องค์กรปกครองส่วนท้องถิ่นรูปแบบพิเศษกรุงเทพมหานคร).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Amphoe">
        <xs:annotation>
          <xs:documentation>District (อำเภอ, amphoe), subdivision of provinces.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="KingAmphoe">
        <xs:annotation>
          <xs:documentation>Minor district (กิ่งอำเภอ, King Amphoe), subdivision of provinces.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Tambon">
        <xs:annotation>
          <xs:documentation>Subdistrict (ตำบล, tambon), subdivision of districts.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Khet">
        <xs:annotation>
          <xs:documentation>Districts of Bangkok (เขต, khet).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Khwaeng">
        <xs:annotation>
          <xs:documentation>Subdistrict of Bangkok (แขวง, Khwaeng).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Muban">
        <xs:annotation>
          <xs:documentation>Administrative village (หมู่บ้าน, Muban), subdivision of subdistricts.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Mueang">
        <xs:annotation>
          <xs:documentation>Special administrative municipality (i.e. Pattaya)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Monthon">
        <xs:annotation>
          <xs:documentation>Circles (มณฑล or มณฑลเทศาภิบาล, monthon)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Phak">
        <xs:annotation>
          <xs:documentation>Region (ภาค, phak)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TAO">
        <xs:annotation>
          <xs:documentation>Subdistrict administrative organization (องค์การบริหารส่วนตำบล, TAO or SAO).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SakhaTambon">
        <xs:annotation>
          <xs:documentation>Subdistrict Council (สภาตำบล, Sakha Tambon)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ThesabanTambon">
        <xs:annotation>
          <xs:documentation>Subdistrict municipality (เทศบาลตำบล, Thesaban Tambon).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ThesabanMueang">
        <xs:annotation>
          <xs:documentation>Town municipality (เทศบาลเมือง, Thesaban Mueang)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ThesabanNakhon">
        <xs:annotation>
          <xs:documentation>City municipality (เทศบาลนคร, Thesaban Nakhon)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Sukhaphiban">
        <xs:annotation>
          <xs:documentation>Sanitary district (สุขาภิบาล, Sukhaphiban).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SukhaphibanTambon">
        <xs:annotation>
          <xs:documentation>Rural sanitary district (สุขาภิบาลตำบล, Sukhaphiban Tambon).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SukhaphibanMueang">
        <xs:annotation>
          <xs:documentation>Urban sanitary district (สุขาภิบาลเมือง, Sukhaphiban Mueang).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SakhaKhwaeng">
        <xs:annotation>
          <xs:documentation>Subdistrict Council (สภาแขวง, Sakha Khwaeng)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Chumchon">
        <xs:annotation>
          <xs:documentation>Borough (ชุมชน, chumchon), subdivision of municipalities.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PAO">
        <xs:annotation>
          <xs:documentation>Provincial administrative organization (องค์การบริหารส่วนจังหวัด).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="KlumChangwat">
        <xs:annotation>
          <xs:documentation>Province cluster (กลุ่มจังหวัด, Klum Changwat)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Constituency">
        <xs:annotation>
          <xs:documentation>Constituency (เขตเลือกตั้ง, Khet Lueak Tang), either for local or general elections.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ElectoralRegion">
        <xs:annotation>
          <xs:documentation>Electoral region as defined in the 2007 constitution.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Country">
        <xs:annotation>
          <xs:documentation>Whole of Thailand (ประเทศไทย).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Unknown">
        <xs:annotation>
          <xs:documentation>Generic entry for other types.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <!-- Entries which should not be used -->
      <xs:enumeration value="Thesaban">
        <xs:annotation>
          <xs:documentation>Municipality of undefined type (เทศบาล, Thesaban).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Sakha">
        <xs:annotation>
          <xs:documentation>Council of undefined type (สภา, Sakha).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OfficialType">
    <xs:annotation>
      <xs:documentation>Types of leaders for the administrative entities.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Governor"/>
      <xs:enumeration value="ViceGovernor"/>
      <xs:enumeration value="DistrictOfficer"/>
      <xs:enumeration value="MinorDistrictOfficer"/>
      <xs:enumeration value="Kamnan"/>
      <xs:enumeration value="PhuYaiBan"/>
      <xs:enumeration value="PAOChairman"/>
      <xs:enumeration value="Mayor"/>
      <xs:enumeration value="TAOMayor"/>
      <xs:enumeration value="TAOChairman"/>
      <xs:enumeration value="SanitaryDistrictChairman"/>
      <xs:enumeration value="ChumchonChairman"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OfficeType">
    <xs:annotation>
      <xs:documentation>Office types for the administrative entities.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="ProvinceHall"/>
      <xs:enumeration value="PAOOffice"/>
      <xs:enumeration value="DistrictOffice"/>
      <xs:enumeration value="MunicipalityOffice"/>
      <xs:enumeration value="TAOOffice"/>
      <xs:enumeration value="VillageHeadmanOffice"/>
      <xs:enumeration value="ChumchonOffice"/>
      <xs:enumeration value="SubdistrictHeadmanOffice"/>
      <!--Should this one really be here?-->
      <xs:enumeration value="DistrictMuseum"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OfficialEntry">
    <xs:attribute name="title" type="OfficialType" use="required">
      <xs:annotation>
        <xs:documentation>Type of official.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="index" type="xs:int" use="optional">
      <xs:annotation>
        <xs:documentation>Running number, if known.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Name in Thai script, not including titles.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="english" type="xs:string" use="optional" >
      <xs:annotation>
        <xs:documentation>Transcription of name to English.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="begin" type="xs:date" use="optional" >
      <xs:annotation>
        <xs:documentation>Begin of term.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="endyear" type="xs:integer" use="optional">
      <xs:annotation>
        <xs:documentation>End of term.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="beginyear" type="xs:integer" use="optional" >
      <xs:annotation>
        <xs:documentation>Begin of term.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="end" type="xs:date" use="optional">
      <xs:annotation>
        <xs:documentation>End of term.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="acting" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>Acting or fully installed office leader.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="comment" type="xs:string" use="optional" >
      <xs:annotation>
        <xs:documentation>Comments for information not covered in the formal fields.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name='OfficialList'>
    <xs:annotation>
      <xs:documentation>List of leaders of the administrative entity.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="official" minOccurs="0" maxOccurs="unbounded" type="OfficialEntry"/>
    </xs:sequence>
    <xs:attribute name="source" type="xs:string" use="optional" >
      <xs:annotation>
        <xs:documentation>Source of the main part of the list.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="MyUriStatus">
    <xs:annotation>
      <xs:documentation>Status of a web link.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:documentation>Status unknown.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="online">
        <xs:annotation>
          <xs:documentation>Website up and running.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="offline">
        <xs:annotation>
          <xs:documentation>Website unreachable due to server problems.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="obsolete">
        <xs:annotation>
          <xs:documentation>Discontinued but still online website.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="expired">
        <xs:annotation>
          <xs:documentation>Domain registration has expired.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>    
  </xs:simpleType>
  <xs:complexType name="MyUri">
    <xs:annotation>
      <xs:documentation>URL with an optional comment and status.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:anyURI">
        <xs:attribute name="comment" type="xs:string" use="optional" >
          <xs:annotation>
            <xs:documentation>Plain text comment for information not covered in the formal fields.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="status" type="MyUriStatus" use="optional" default="unknown">
          <xs:annotation>
            <xs:documentation>Status of the web link.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ThaiAddress">
    <xs:sequence>
      <xs:element name="village" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" use="optional" />
          <xs:attribute name="number" type="xs:unsignedInt" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="plot" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="number" type="xs:string" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="tambon" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" use="required" />
          <xs:attribute name="geocode" type="xs:unsignedInt" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="street" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" type="xs:string" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="postcode" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="code" type="xs:unsignedInt" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OldLocation">
    <xs:sequence>
      <xs:element minOccurs="0" ref="geo:Point" />
      <xs:element minOccurs="0" name="address" type="ThaiAddress"/>
    </xs:sequence>
    <xs:attribute name="end" type="xs:date" use="optional" />
    <xs:attribute name="comment" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:complexType name='Office'>
    <xs:sequence>
      <xs:element minOccurs="0" ref="geo:Point" />
      <xs:element minOccurs="0" name="address" type="ThaiAddress"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="url" type="MyUri"/>
      <xs:element minOccurs="0" maxOccurs="1" name="officials" type="OfficialList"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="oldlocations" type="OldLocation"/>
    </xs:sequence>
    <xs:attribute name="type" type="OfficeType" use="required" />
    <xs:attribute name="obsolete" type="xs:boolean" use="optional" />
    <xs:attribute name="comment" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:simpleType name="AreaUnit">
    <xs:restriction base="xs:string">
      <xs:enumeration value="km²"/>
      <xs:enumeration value="rai"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AreaData">
    <xs:attribute name="value" type="xs:decimal" use="required" />
    <xs:attribute name="unit" type="AreaUnit" use="required" />
    <xs:attribute name="source" type="xs:string" use="required" />
    <xs:attribute name="date" type="xs:unsignedShort" use="optional" />
  </xs:complexType>
  <xs:complexType name="Area">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="data" type="AreaData"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HistoryEntry">
    <xs:attribute name="effective" type="xs:date" use="optional" />
    <xs:attribute name="comment" type="xs:string" use="optional" />
  </xs:complexType>
  <xs:complexType name="HistoryStatus">
    <xs:complexContent>
      <xs:extension base="HistoryEntry">
        <xs:attribute name="old" type="EntityType" use="required" />
        <xs:attribute name="new" type="EntityType" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HistoryRename">
    <xs:complexContent>
      <xs:extension base="HistoryEntry">
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="oldname" type="xs:string" use="required" />
        <xs:attribute name="oldenglish" type="xs:string" use="optional" />
        <xs:attribute name="english" type="xs:string" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HistorySpelling">
    <xs:complexContent>
      <xs:extension base="HistoryEntry">
        <xs:attribute name="name" type="xs:string" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HistoryCreate">
    <xs:complexContent>
      <xs:extension base="HistoryEntry">
        <xs:attribute name="type" type="EntityType" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:group name="History" >
    <xs:choice>
      <xs:element maxOccurs="unbounded" name="rename" type="HistoryRename"/>
      <xs:element maxOccurs="unbounded" name="statuschange" type="HistoryStatus"/>
      <xs:element maxOccurs="unbounded" name="create" type="HistoryCreate"/>
      <xs:element maxOccurs="unbounded" name="misspelling" type="HistorySpelling"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="HistoryList">
    <xs:group ref="History" maxOccurs="unbounded" minOccurs="0"/>
  </xs:complexType>
  <xs:complexType name="Entity">
    <xs:sequence minOccurs="0">
      <xs:element minOccurs="0" name="slogan" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="office" type="Office"/>
      <xs:element minOccurs="0" name="area" type="Area"/>
      <xs:element minOccurs="0" maxOccurs="1" name="history" type="HistoryList"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="entity" type="Entity"/>
    </xs:sequence>
    <xs:attribute name="type" type="EntityType" use="required" />
    <xs:attribute name="name" type="xs:string" use="required" />
    <xs:attribute name="english" type="xs:string" use="optional" />
    <xs:attribute name="geocode" type="xs:unsignedInt" use="required" />
    <!--have to find better way for this-->
    <xs:attribute name="newgeocode" type="xs:string" use="optional" />
    <xs:attribute name="obsolete" type="xs:boolean" use="optional" />
    <xs:attribute name="parent" type="xs:string" use="optional" />
    <xs:attribute name="comment" type="xs:string" use="optional" />
    <!-- for Thesaban covering a complete Tambon-->
    <xs:attribute name="tambon" type="xs:unsignedInt" use="optional" />
    <!-- for Chumchon corresponding to a specific Muban-->
    <xs:attribute name="muban" type="xs:unsignedInt" use="optional" />
  </xs:complexType>
  <xs:element name="entity" type="Entity"/>
</xs:schema>